{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-body">
						<form method="POST" class="userCreate" action="" novalidate>
							{% csrf_token %}

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									<label for="username">Логин пользователя</label>
									<input autocomplete="off" class="form-control success" name="username" id="username" value="{{ user_edit.username }}" placeholder="Введите Логин пользователя" required/>
								</div>
								<div class="invalid-feedback">
									Пользователь с таким логином уже существует
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="first_name">Имя пользователя</label>
									<input autocomplete="off" class="form-control" name="first_name" id="first_name" value="{{ user_edit.first_name }}" placeholder="Введите Имя пользователя" required/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="last_name">Фамилия пользователя</label>
									<input autocomplete="off" class="form-control" name="last_name" id="last_name" value="{{ user_edit.last_name }}" placeholder="Введите Фамилию пользователя" required/>
								</div>
							</div>
							<div class="border-top mt-4 mb-4"></div>
							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									{% if user_edit.is_staff %}
										<input class="form-check-input" type="checkbox" name="is_staff" id="is_staff" checked/>
									{% else %}
										<input class="form-check-input" type="checkbox" name="is_staff" id="is_staff"/>
									{% endif %}
									<label for="is_staff">Статус персонала</label>
								</div>

							</div>
							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									{% if user_edit.is_superuser %}
										<input class="form-check-input" type="checkbox" name="is_superuser" id="is_superuser" checked/>
									{% else %}
										<input class="form-check-input" type="checkbox" name="is_superuser" id="is_superuser"/>
									{% endif %}
									<label for="is_superuser">Суперпользователь</label>
								</div>
							</div>

							<div class="border-top mt-4 mb-4"></div>
							<div class="row">

								<label class="mb-3 mt-3 user_role">Доступные балансодержатели: </label>

								
									<strong class="mb-2 mt-2 superuser_select"{% if user_edit.is_superuser %}{% else %} hidden{% endif %}>Доступны все</strong>
									
									{% for holder in balance_holders %}
									<div class="col-12 col-sm-3 mb-3 staff_user"{% if user_edit.is_superuser %} hidden{% else %}{% endif %}>
										<label for="{{ holder.id }}">{{ holder.organization_holder }}</label>

										{% if holder.id in bal_hol %}
											<input class="form-check-input" type="checkbox" name="{{ holder.id }}" id="{{ holder.id }}" checked/>
										{% else %}
											<input class="form-check-input" type="checkbox" name="{{ holder.id }}" id="{{ holder.id }}"/>
										{% endif %}
									</div>
									{% endfor %}

							</div>

							<div class="border-top mt-4 mb-4"></div>

								<div class="col-12 col-sm-3 mb-3">
									<input class="form-check-input" type="checkbox" id="change_pwd"/>
									<label for="change_pwd">Сменить пароль</label>
								</div>

								<div class="change_pwd" hidden>
									<div class="row">
										<div class="col-12 col-sm-3 mb-3">
											<label for="password1">Новый пароль</label>
											<input autocomplete="new-password" class="form-control" type="password" name="password1" id="password1" placeholder="Введите пароль" required/>
										</div>
									</div>

									<div class="row">
										<div class="col-12 col-sm-3">
											<label for="password2">Повторите новый пароль</label>
											<input autocomplete="new-password" class="form-control" type="password" name="password2" id="password2" placeholder="Повторите пароль" required/>
										</div>
									</div>
								</div>
							<div class="border-top mt-4 mb-4"></div>

							<div class="row">
								<label for="password">Для внесения изменений введите пароль</label>
								<div class="col-12 col-sm-3 mb-3 mt-1">
									<input autocomplete="new-password" class="form-control is-invalid" type="password" name="password" id="password" placeholder="Введите старый пароль" required/>
								</div>
							</div>

							<button class="btn btn-lg btn-primary mt-4" disabled>
								Сохранить
							</button>

						</form>
					</div> <!-- /card-body -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

<script type="text/javascript">

	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = '';

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=');
		b[0] = b[0].replace(/\s+/g, '');
		if (b[0] == 'csrftoken') {
			token = b[1];
		}
	};

	$('#is_superuser').on('change', function(){
		if($('#is_superuser').is(':checked')){
			var superuser_select = `<strong class="mb-2 mt-2 superuser_select">Доступны все</strong>`;
			$('.user_role').append(superuser_select);
			$('.staff_user').attr('hidden', 'true');
			if(!$('#is_staff').prop('checked')){
				$('#is_staff').click();
			}
		}else{
			$('.superuser_select').attr('hidden', 'true');
			$('.staff_user').removeAttr('hidden');
		}
	});
	
	$('#change_pwd').on('change', function(){
		if($('#change_pwd').is(':checked')){
			$('.change_pwd').removeAttr('hidden');
		}else{
			$('.change_pwd').attr('hidden', 'true');
		}
	});

	$('#username').on('input', function() {
		$.ajax(
			{
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_username',
					username: $('#username').val()
				}
			}).then(function(result) {
				if (result.message) {
					$('#username').removeClass('is-invalid');
					$('#username').addClass('is-valid');
				} else {
					$('#username').removeClass('is-valid');
					$('#username').addClass('is-invalid');
				}
				if (!$('#username').val()){
					$('#username').removeClass('is-valid');
					$('#username').addClass('is-invalid');
				}
			}).catch(function(err) {
				var x = 1;
			}
		)}
	)

	$('#password').on('input', function() {
		$.ajax(
			{
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_password',
					password: $('#password').val()
				}
			}).then(function(result) {
				if (result.message) {
					$('#password').removeClass('is-invalid');
					$('#password').addClass('is-valid');
				} else {
					$('#password').removeClass('is-valid');
					$('#password').addClass('is-invalid');
				}
				if (!$('#password').val()){
					$('#password').removeClass('is-valid');
					$('#password').addClass('is-invalid');
				}
			}).catch(function(err) {
				var x = 1;
			}
		)}
	)

	$('#password2').on('input', function() {
		if ($('#password1').val() == $('#password2').val()){
			$('#password2').removeClass('is-invalid');
			$('#password1').removeClass('is-invalid');
			$('#password1').addClass('is-valid');
			$('#password2').addClass('is-valid');
		}else{
			$('#password1').removeClass('is-valid');
			$('#password2').removeClass('is-valid');
			$('#password2').addClass('is-invalid');
			$('#password1').addClass('is-invalid');
		}
	})

	$('#password1').on('input', function() {
		if ($('#password1').val() == $('#password2').val()){
			$('#password2').removeClass('is-invalid');
			$('#password1').removeClass('is-invalid');
			$('#password1').addClass('is-valid');
			$('#password2').addClass('is-valid');
		}else{
			$('#password1').removeClass('is-valid');
			$('#password2').removeClass('is-valid');
			$('#password2').addClass('is-invalid');
			$('#password1').addClass('is-invalid');
		}
	})

	$('#first_name').on('input', function(){
		if ($('#first_name').val()){
			$('#first_name').removeClass('is-invalid');
		}else{
			$('#first_name').addClass('is-invalid');
		}
	})

	$('#last_name').on('input', function(){
		if ($('#last_name').val()){
			$('#last_name').removeClass('is-invalid');
		}else{
			$('#last_name').addClass('is-invalid');
		}
	})

	$('form').on('input change', function(){
		if ($('#password').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#password2').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#username').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#first_name').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#last_name').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else{
			$('button').removeAttr('disabled');
		}
	});
	
</script>

{% endblock content %}