{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						Дополнительные данные по транзакциям
						<br>
						{% if user.is_superuser or user.is_staff %}
							<a href="{% url 'addition_create' %}">Создать дополнительные данные по транзакции</a>
						{% endif %}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead>
										<tr>
											<th>Название транзакции</th>
											<th>Дополнительные данные по транзакции</th>
										</tr>
									</thead>
									{% for object in additional %}
									<tbody>
										<tr class="align-middle">
											<td>{{ object.transaction_id__name }}</td>
											<td>{{ object.notes }}</td>
										</tr>
									</tbody>
									{% endfor %}
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

{% endblock content %}
