{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						{% if user.is_superuser or user.is_staff %}
							<a href="{% url 'holder_create' %}">Создать Нового балансодержателя</a>
						{% endif %}

						{% if holders %}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead class="text-center">
										<tr>
											<th>Наименование организации</th>
											<th>Псевдоним держателя</th>
											<th>Баланс Держателя</th>
											<th>Расчетный счет</th>
										</tr>
									</thead>
									{% for object in holders %}
									<tbody class="text-center">
										<tr class="align-middle">
											<td>{{ object.organization_holder }}</td>
											<td>{{ object.alias_holder }}</td>
											<td>{{ object.holder_balance|numb_format }}</td>
											<td>{{ object.payment_account }}</td>
										</tr>
									</tbody>
									{% endfor %}
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
						{% else %}
						<div class="card-body">
							Нет данных
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

{% endblock content %}
