{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div>
						<form method="POST" action="">
							{% csrf_token %}

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									<label for="holder_type">Тип балансодержателя</label>
									<select autocomplete="off" class="obligatory form-select" name="holder_type" id="holder_type">
										<option selected value="{{ holder.holder_type }}">{{ holder.holder_type|translate_type_balance_holder }}</option>
										{% if holder.holder_type == "PRIVATE_PERSONE" %}
											<option value="ORGANISATION">Организация</option>
										{% else %}
											<option value="PRIVATE_PERSONE">Частное лицо</option>
										{% endif %}
									</select>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label id="label_organisation" for="organization_holder">
										{% if holder.holder_type == "PRIVATE_PERSONE" %}
										ФИО держателя
										{% else %}
										Наименование организации
										{% endif %}
									</label>
									<input autocomplete="off" class="obligatory form-control" name="organization_holder" id="organization_holder" value="{{ holder.organization_holder }}"/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="account_type">Привязка номера карты/счета к балансодержателю</label>
									<select autocomplete="off" class="obligatory form-select" name="account_type" id="account_type">
										<option selected value="{{ holder.account_type }}">{{ holder.account_type|translate_account_type }}</option>
										{% if holder.account_type == "CARD" %}
											<option value="SCORE">Расчетный счет</option>
										{% else %}
											<option value="CARD">Номер карты</option>
										{% endif %}
									</select>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label id="label_payment_account" for="payment_account">
										{% if holder.account_type == 'SCORE' %}
											Расчетный счет
										{% else %} 
											Номер карты
										{% endif %}
									</label>
									<input autocomplete="off" class="obligatory form-control" name="payment_account" id="payment_account" value="{{ holder.payment_account|for_card_step }}"/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="alias_holder">Псевдоним реквезита</label>
									<input autocomplete="off" class="obligatory form-control" name="alias_holder" id="alias_holder" value="{{ holder.alias_holder }}"/>
								</div>
								{% if user.is_superuser %}
									{% if holder.hidden_status %}
										<div class="col-12 col-sm-3 mb-3">
											<label for="hide_holder">Скрыть балансодержателя</label><br>
											<input class="form-check-input" type="checkbox" name="hide_holder" id="hide_holder" checked/>
										</div>
									{% else %}
										<div class="col-12 col-sm-3 mb-3">
											<label for="hide_holder">Скрыть балансодержателя</label><br>
											<input class="form-check-input" type="checkbox" name="hide_holder" id="hide_holder"/>
										</div>
									{% endif %}

									<div class="superusers_list col-12 col-sm-3 mb-3" {% if holder.hidden_status %}{% else %} hidden {% endif %}>
										<span data-bs-toggle="tooltip" data-bs-title="Для выбора нескольких зажмите Ctrl">
											<label for="superuser_available">Открыть доступ для:</label>
										</span>
										<select class="form-select" aria-label="multiple select example" name="superuser_available" id="superuser_available" multiple>
											{% for user_select in users %}
												{% if user_select.id != request.user.id %}
													{% if user_select in holder.available_superuser.all %}
														<option selected value="{{ user_select.id }}">{{ user_select.username }}</option>
													{% else %}
														<option value="{{ user_select.id }}">{{ user_select.username }}</option>
													{% endif %}
												{% endif %}
											{% endfor %}
										</select>
									</div>
								{% endif %}
							</div>

							<div class="row">

								<button class="btn btn-primary create_holder" type="submit">
									Сохранить
								</button> <!-- /btn -->

							</div>
						</form>
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->
	
<script type="text/javascript">

	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = ''

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=')
		b[0] = b[0].replace(/\s+/g, '')
		if (b[0] == 'csrftoken') {
		token = b[1]
		}
	}

	var regEx = /[\\><\|\/a-zA-Z\/\+~\=`\]!\[@\{#\}$%\^&:;*\?\(\)_\-а-яА-Я]/;

	$('#hide_holder').on('change', function(){
		if($('#hide_holder').is(':checked')){
			$('.superusers_list').removeAttr('hidden');
		}else{
			$('.superusers_list').attr('hidden', 'true');
			$('#superuser_available').val('');
		}
	})

	$('#holder_balance').on('input change', function(){
		if($('#holder_balance').val()){
			if (regEx.test($('#holder_balance').val())){
				$('#holder_balance').addClass('is-invalid')
			}else{
				$('#holder_balance').removeClass('is-invalid')
			}
		}else{
			$('#holder_balance').removeClass('is-invalid')
		}
	})

	$('#payment_account').on('input change', function(){
		var paccount = $('#payment_account').val().replace(/\s+/g, '')
		if (paccount){
			if (regEx.test(paccount) || ((paccount.length > 20)) || ((paccount.length < 16))){
				$('#payment_account').addClass('is-invalid');
				$('#payment_account').removeClass('is-valid');
			}else{
				$('#payment_account').removeClass('is-invalid');
				$('#payment_account').addClass('is-valid');
			}
		}
	})

	$('#organization_holder').on('input', function(){
		$(".error").remove();
		$.ajax(
			{
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_holder',
					organization_holder: $('#organization_holder').val()
				}
			}).then(function(result) {
				if (result.message) {
					$('#organization_holder').removeClass('is-invalid');
					$('#organization_holder').addClass('is-valid');
				} else {
					$('#organization_holder').removeClass('is-valid');
					$('#organization_holder').addClass('is-invalid');
					$('#organization_holder').after('<div class="invalid-feedback error">Такой балансодержатель уже зарегестрирован</div>')
				}
				if (!$('#organization_holder').val()){
					$('#organization_holder').removeClass('is-valid');
					$('#organization_holder').addClass('is-invalid');
				}
			}).catch(function(err) {
				var x = 1;
			}
		)
	})

	$('#holder_type').on('change', function(){
		if($('#holder_type').val()){
			$('#holder_type').removeClass('is-invalid')
			if ($('#holder_type').val() == "PRIVATE_PERSONE"){
				$('#label_organisation').text('ФИО держателя')
				$('#organization_holder').attr('placeholder', 'Иванов Иван Иванович')
			}else if ($('#holder_type').val() == "ORGANISATION"){
				$('#label_organisation').text('Наименование организации')
				$('#organization_holder').attr('placeholder', 'OOO "IT"')
			}
		}else{
			$('#holder_type').addClass('is-invalid')
		}
	})

	$('#account_type').on('change', function(){
		if($('#account_type').val()){
			$('#account_type').removeClass('is-invalid')
			if ($('#account_type').val() == "CARD"){
				$('#label_payment_account').text('Номер карты')
				$('#payment_account').attr('placeholder', '**** **** **** ****')
			}else if ($('#account_type').val() == "SCORE"){
				$('#label_payment_account').text('Номер расчетного счета')
				$('#payment_account').attr('placeholder', '**** **** **** **** ****')
			}
		}else{
			$('#holder_type').addClass('is-invalid')
		}
	})

	$('form').on('change keyup input click focusot live', function(){

		if ($('#organization_holder').hasClass('is-invalid')){
			$('.create_holder').attr('disabled', 'true');
		}else if ($('#payment_account').hasClass('is-invalid')){
			$('.create_holder').attr('disabled', 'true');
		}else if ($('#alias_holder').hasClass('is-invalid')){
			$('.create_holder').attr('disabled', 'true');
		}else if ($('#holder_balance').hasClass('is-invalid')){
			$('.create_holder').attr('disabled', 'true');
		}else{
			$('.create_holder').removeAttr('disabled');
		}
	})

	$(document).ready(function() {
		$('form').submit(function(e) {
			e.preventDefault();
			var valid = true;

			var payment_account = $('#payment_account').val().replace(/\s+/g, '');
			var holder_balance = $('#holder_balance').val();
			var validPayment_account = regEx.test(payment_account);

			$(".error").remove();

			if (validPayment_account || ((payment_account.length > 20)) || ((payment_account.length < 16))){
				$('#payment_account').addClass('is-invalid');
				$('#payment_account').after('<span class="error">Введите корректные данные</span>');
				valid = false;
			}

			if (valid) this.submit();
		});
	});

</script>

{% endblock content %}
