{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div>
						<form method="POST" action="">
							{% csrf_token %}

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									{{ form.organization_holder.label }}
									<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control is-invalid" name="organization_holder" id="organization_holder" placeholder="ООО 'it'"/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.payment_account.label }}
									<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control is-invalid" name="payment_account" id="payment_account" placeholder="********************"/>
								</div>
							</div>

							<div id="accordionStatsDaysFilter">
								<div id="collapseStatsDaysFilter-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStatsDaysFilter" style="">

									<div class="row">

										<div class="col-12 col-sm-3 mb-3">
											{{ form.alias_holder.label }}
											<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control" name="alias_holder" id="alias_holder" placeholder="Tinkoff"/>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label for="holder_balance">Баланс Держателя</label>
											<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control" name="holder_balance" id="holder_balance" placeholder="По дефолту 0"/>
										</div>

									</div>

								</div>
							</div>

							<div class="row">

								<div class="col-sm-3 mb-3">

									<button class="btn btn-primary" type="submit">
										Сохранить
									</button> <!-- /btn -->

									<button class="btn btn-secondary collapsed" onclick="$(this).text($(this).text() == 'Скрыть' ? 'Раскрыть' : 'Скрыть');" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatsDaysFilter-1" aria-expanded="false" aria-controls="collapseStatsDaysFilter-1">
										Раскрыть
									</button>

								</div>

							</div>
						</form>
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

{% endblock content %}
