{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-header d-flex align-items-center card-header-no-bg border-bottom-0">
						{% if user.is_superuser or user.is_staff %}
						<div class="card-options ms-auto">
							<a href="{% url 'holder_create' %}" class="btn btn-primary btn-sm">Добавить</a>
						</div>
						{% endif %}
					</div>
					<div class="table-responsive">
						{% if holders %}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead class="text-center">
										<tr>
											<th>Наименование</th>
											<th>Баланс Держателя</th>
											<th>Реквизиты</th>
											<th>Псевдоним реквизита</th>
										</tr>
									</thead>
									<tbody class="text-center">
										{% for object in holders %}
											<tr class="align-middle">
												<td>
													<div class="d-flex justify-content-between">
														<div class="d-flex justify-content-start" >
															<span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Скрыть транзакции балансодержателя" >
																<input class="form-check-input" type="checkbox" name="{{ object.id }}" data-holder-name="{{ object.organization_holder }}"
																{% if request.user in object.hide_for_me %} checked{% endif %}/>
														   </span>
															
														</div>
														<div class="d-flex justify-content-start">
														{{ object.organization_holder }}
															{% if object.hidden_status %}
																<span data-bs-toggle="tooltip" data-bs-title="Имеют доступ: {% for obj in object.available_users %} {{ obj }} {% endfor %}">
																	 &emsp; <i class="fa-regular fa-info"></i>  <i>Невидимый</i>
																</span>
															{% endif %}
														</div>
													{% if user.is_superuser %}
														<div class="d-flex justify-content-end">
															<a href="{% url 'holder_update' object.id %}" class="btn btn-light btn-sm" data-bs-toggle="tooltip" data-bs-title="Редактировать">
																<i class="fa-regular fa-pen-to-square"></i>
															</a>
														</div>
													{% endif %}
													</div>
												</td>
												<td>
													{% if object.balance %}
														{% for all_balance in object.balance %}
															{% if all_balance.holder_current_balance %}
																<ol>
																	{{ all_balance.holder_current_balance|numb_format }}
																	{% if all_balance.name == 'USD' %}
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
																			<path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
																		</svg>
																	{% elif all_balance.name == 'EUR' %}
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
																			<path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
																		</svg>
																	{% elif all_balance.name == 'USDC' %}
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
																			<path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
																		</svg>USDC (ERC20)
																	{% elif all_balance.name == 'USDT-TRC' %}
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
																			<path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
																		</svg>USDT-TRC
																	{% elif all_balance.name == 'USDT-ERC' %}
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
																			<path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
																		</svg>USDT-ERC
																	{% elif all_balance.name == 'ETH' %}
																		<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
																			<path d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"/>
																		</svg>
																	{% elif all_balance.name == 'BTC' %}
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
																			<path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
																		</svg>
																	{% elif all_balance.name == 'RUR' %}
																		<i class="fa-regular fa-ruble-sign ms-1"></i>
																	{% endif %}
																</ol>
															{% endif %}
														{% endfor %}
													{% endif %}
												</td>
												{% if object.account_type == 'OTHER' %}
													<td>
														{{ object.payment_account }}
													</td>
												{% elif object.account_type == 'CARD' %}
													<td>
															{{ object.payment_account|for_card_step }}
													</td>
												{% else %}
													<td>
														{{ object.payment_account|for_score }}
													</td>
												{% endif %}
												<td>{{ object.alias_holder }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
						{% else %}
						<div class="alert alert-warning" role="alert">
							<h5 class="alert-heading text-center">
								<i class="fa-regular fa-octagon-exclamation me-2"></i>
								Нет доступных данных
							</h5>
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

	<div class="position-fixed bottom-0 top-5 end-0 p-3" style="z-index: 11">
		<div id="liveToast" class="toast hide bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
			 <div class="toast-header">
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
			  </div>
			<div class="toast-body text-white" id="toast_content">
				
			</div>
		</div>
	</div>

<script>
	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = '';

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=');
		b[0] = b[0].replace(/\s+/g, '');
		if (b[0] == 'csrftoken') {
			token = b[1]
		}
	};
	
	inputEl = document.querySelectorAll('.form-check-input')
	for (let i=0; i<inputEl.length; i++){
		inputEl[i].addEventListener('click', function(event){
			if(event.currentTarget == inputEl[i]){
				if (inputEl[i].checked){
					$.ajax({
						url: url,
						method: 'POST',
						data: {
							csrfmiddlewaretoken: token,
							type: 'hide_for_me',
							holder_id: inputEl[i].name
						}
					}).then(function(result){
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function(toastEl) {
							$('#toast_content').text(`Скрыты транзакции ${inputEl[i].getAttribute('data-holder-name')}`);
							// Creates an array of toasts (it only initializes them)
							return new bootstrap.Toast(toastEl) // No need for options; use the default options
						});
						toastList.forEach(toast => toast.show()); // This show them
					}).catch(function(err){
						var x = 0;
					});
				}else{
					$.ajax({
						url: url,
						method: 'POST',
						data: {
							csrfmiddlewaretoken: token,
							type: 'show_for_me',
							holder_id: inputEl[i].name
						}
					}).then(function(result){
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function(toastEl) {
							$('#toast_content').text(`Доступны транзакции ${inputEl[i].getAttribute('data-holder-name')}`);
							// Creates an array of toasts (it only initializes them)
							return new bootstrap.Toast(toastEl) // No need for options; use the default options
						});
						toastList.forEach(toast => toast.show()); // This show them
					}).catch(function(err){
						var x = 0;
					});
				}
			}
		})
	};

</script>

{% endblock content %}
