{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-header d-flex align-items-center card-header-no-bg border-bottom-0">
						{% if user.is_superuser or user.is_staff %}
						<div class="card-options ms-auto">
							<a href="{% url 'holder_create' %}" class="btn btn-primary btn-sm">Добавить</a>
						</div>
						{% endif %}
					</div>
					<div class="table-responsive">
						{% if holders %}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead class="text-center">
										<tr>
											<th>Наименование</th>
											<th>Баланс Держателя</th>
											<th>Реквезиты</th>
											<th>Псевдоним реквезита</th>
										</tr>
									</thead>
									<tbody class="text-center">
										{% for object in holders %}
											<tr class="align-middle">
												<td>
													<div class="d-flex justify-content-between">
														<div class="d-flex justify-content-start">
														{{ object.organization_holder }}
															{% if object.hidden_status %}
																<span data-bs-toggle="tooltip" data-bs-title="Имеют доступ: {% for obj in object.available_users %} {{ obj }} {% endfor %}">
																	 &emsp; <i class="fa-regular fa-info"></i> <i>Скрытый</i>
																</span>
															{% endif %}
														</div>
													{% if user.is_superuser %}
														<div class="d-flex justify-content-end">
															<a href="{% url 'holder_update' object.id %}" class="btn btn-light btn-sm" data-bs-toggle="tooltip" data-bs-title="Редактировать">
																<i class="fa-regular fa-pen-to-square"></i>
															</a>
														</div>
													{% endif %}
													</div>
												</td>
												<td>{{ object.holder_balance|numb_format }}</td>
												<td>{{ object.payment_account|for_card_step }}</td>
												<td>{{ object.alias_holder }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
						{% else %}
						<div class="alert alert-warning" role="alert">
							<h5 class="alert-heading text-center">
								<i class="fa-regular fa-octagon-exclamation me-2"></i>
								Нет доступных данных
							</h5>
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

{% endblock content %}
