{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
		<link rel="icon" href="{% static '/img/brand/favicon.png' %}" type="image/x-icon"/>

		<!-- css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}?v=2">
		<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">

		<!-- JS -->
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	</head>
<body>

<header class="navbar navbar-light sticky-top navbar-expand-xl flex-xl-nowrap p-0">
	<a class="navbar-brand col me-0 px-3 fs-6" href="{% url 'admin:index' %}">
		<img src="{% static 'img/brand/logo.svg' %}" alt="">
	</a> <!--/navbar-brand-->


	<button class="navbar-toggler collapsed me-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> <!--/navbar-toggler-->


	<ul class="navbar-nav d-flex d-xl-none me-3">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle navbar-profile-user d-flex align-items-center" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="d-flex align-items-center justify-content-center text-bg-outline-secondary rounded-circle" style="width: 40px; height: 40px;">
					<i class="fa-regular fa-circle-user"></i>
				</span>
			</a>

			<div class="dropdown-menu position-absolute dropdown-menu-end pt-0">
				<div class="p-3 border-bottom mb-2">
					<div class="d-flex wd-100p">
						<span class="d-flex align-items-center justify-content-center text-bg-outline-secondary rounded-circle" style="width: 40px; height: 40px;">
							<i class="fa-regular fa-circle-user"></i>
						</span>

						<div class="ms-3 my-auto">
							<div class="h6 mb-0">
								{{ user }}
							</div>
						</div>
					</div>
				</div>

				<a class="dropdown-item" href="">
					<i class="fa-regular fa-circle-user me-2"></i>
					Профиль
				</a> <!-- /dropdown-item -->

				<hr class="dropdown-divider">

				<a class="dropdown-item mb-0" href="{% url 'logout' %}">
					<i class="fa-regular fa-right-from-bracket me-2"></i>
					Выход
				</a> <!-- /dropdown-item -->
			</div> <!-- /dropdown-menu -->
		</li> <!-- /nav-item -->
	</ul> <!-- /navbar-nav -->


	<ul class="navbar-nav d-none d-xl-flex ms-auto me-3">
		<li class="nav-item d-flex align-items-center me-3">
			<span class="navbar-text">
				Баланс:
				<span class="fw-bold">
					что то
				</span>
				<i class="fa-regular fa-ruble-sign ms-1"></i>
			</span>
		</li> <!-- /nav-item -->
		<li class="nav-item dropdown d-flex align-items-center me-2">
			<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Подписки
			</a>

			<ul class="dropdown-menu dropdown-menu-end">
				<li>
					<span class="dropdown-item-text">
						<b>Активные</b>

						<span class="d-flex">
							Оплаченных:

							<span class="ms-auto ps-2 fw-bold">
								что то
							</span>
						</span>
						<span class="d-flex">
							Просроченных:

							<span class="ms-auto ps-3">
								что то
							</span>
						</span>
					</span>
				</li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li>
					<span class="dropdown-item-text">
						<b>Не активные</b>
						<span class="d-flex">
							Отписанных:

							<span class="ms-auto ps-3">
								что то
							</span>
						</span>
						<span class="d-flex">
							Неребилльные:

							<span class="ms-auto ps-3">
								что то
							</span>
						</span>
					</span>
				</li>
			</ul> <!-- /dropdown-menu -->
		</li> <!-- /nav-item -->
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle navbar-profile-user d-flex align-items-center" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="d-flex align-items-center justify-content-center text-bg-outline-secondary rounded-circle" style="width: 40px; height: 40px;">
					<i class="fa-regular fa-circle-user"></i>
				</span>
			</a>

			<div class="dropdown-menu dropdown-menu-end pt-0">
				<div class="p-3 border-bottom mb-2">
					<div class="d-flex wd-100p">
						<span class="d-flex align-items-center justify-content-center text-bg-outline-secondary rounded-circle" style="width: 40px; height: 40px;">
							<i class="fa-regular fa-circle-user"></i>
						</span>

						<div class="ms-3 my-auto">
							<div class="h6 mb-0">
								{{ user }}
							</div>
						</div>
					</div>
				</div>

				<a class="dropdown-item" href="">
					<i class="fa-regular fa-circle-user me-2"></i>
					Профиль
				</a> <!-- /dropdown-item -->

				<hr class="dropdown-divider">

				<a class="dropdown-item mb-0" href="{% url 'logout' %}">
					<i class="fa-regular fa-right-from-bracket me-2"></i>
					Выход
				</a> <!-- /dropdown-item -->
			</div> <!-- /dropdown-menu -->
		</li> <!-- /nav-item -->
	</ul> <!-- /navbar-nav -->
</header> <!--/navbar-->


<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-12 col-xl-2 d-xl-block sidebar collapse">
			<a class="navbar-brand d-none d-xl-flex" href="{% url 'admin:index' %}">
				<img src="{% static 'img/brand/logo.svg' %}" alt="">
			</a> <!--/navbar-brand-->


			<div class="position-sticky sidebar-sticky">
				<ul class="nav nav-fill flex-column d-flex d-xl-none mt-2">
					<li class="nav-item d-flex align-items-center">
						<span class="nav-link">
							Баланс:
							<span class="fw-bold">
								что то
							</span>
							<i class="fa-regular fa-ruble-sign ms-1"></i>
						</span>
					</li> <!-- /nav-item -->
					<li class="nav-item dropdown d-flex align-items-center">
						<a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Подписки
						</a>

						<ul class="dropdown-menu">
							<li>
								<span class="dropdown-item-text">
									<b>Активные</b>

									<span class="d-flex">
										Оплаченных:

										<span class="ms-auto ps-2 fw-bold">
											что то
										</span>
									</span>
									<span class="d-flex">
										Просроченных:

										<span class="ms-auto ps-3">
											что то
										</span>
									</span>
								</span>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<span class="dropdown-item-text">
									<b>Не активные</b>
									<span class="d-flex">
										Отписанных:

										<span class="ms-auto ps-3">
											что то
										</span>
									</span>
									<span class="d-flex">
										Неребилльные:

										<span class="ms-auto ps-3">
											что то
										</span>
									</span>
								</span>
							</li>
						</ul> <!-- /dropdown-menu -->
					</li> <!-- /nav-item -->
				</ul> <!-- /nav -->


				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted text-uppercase">
					<span>
						Главное
					</span>
				</h6>


				<ul class="nav nav-fill flex-column">
					<li class="nav-item">
						<span class="sideshow_static btn-toggle nav-link d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#sd-m-1-collapse" aria-expanded="false" role="button">
							<i class="fa-regular fa-chart-mixed anim-opacity me-3"></i>
							Статистика
						</span>

						<div class="elemshow_static collapse" id="sd-m-1-collapse" data-bs-parent="#sidebarMenu">
							<ul class="btn-toggle-nav list-unstyled pb-1">
								<li>
									<a class="stat statistic_link nav-link" href="">
										Общая
									</a>
								</li>
								<li>
									<a class="stat statistic_link nav-link" href="">
										По дням
									</a>
								</li>
								<li>
									<a class="stat statistic_link nav-link" href="">
										По часам
									</a>
								</li>
								<li>
									<a class="stat statistic_link nav-link" href="">
										По подпискам
									</a>
								</li>
								<li>
									<a class="stat statistic_link nav-link" href="">
										По ребиллам
									</a>
								</li>
								<li>
									<a class="stat statistic_link nav-link" href="">
										По отпискам
									</a>
								</li>
							</ul> <!-- /btn-toggle-nav -->
						</div> <!-- /collapse -->
					</li> <!-- /nav-item -->
				</ul> <!-- /nav -->


				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted text-uppercase">
					<span>
						Инструменты
					</span>
				</h6>


				<ul class="nav nav-fill flex-column">

					<li class="nav-item">
						<a class="stat_streams nav-link d-inline-flex align-items-center" href="">
							<i class="fa-regular fa-airplay anim-opacity me-3"></i>
							Потоки
						</a>
					</li> <!-- /nav-item -->
					<li class="nav-item">
						<a class="stat_posts nav-link d-inline-flex align-items-center" href="">
							<i class="fa-regular fa-circle-exclamation-check anim-opacity me-3"></i>
							PostBacks
						</a>
					</li> <!-- /nav-item -->
				</ul> <!-- /nav -->


				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted text-uppercase">
					<span>
						Взаиморасчёты
					</span>
				</h6>


				<ul class="nav nav-fill flex-column">
					<li class="nav-item">
						<a class="stat_payments nav-link d-inline-flex align-items-center" href="">
							<i class="fa-regular fa-building-columns anim-opacity me-3"></i>
							Выплаты
						</a>
					</li> <!-- /nav-item -->
				</ul> <!-- /nav -->


				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted text-uppercase">
					<span>
						Дополнительно
					</span>
				</h6>


				<ul class="nav nav-fill flex-column">

					<li class="nav-item">
						<a class="stat_news nav-link d-inline-flex align-items-center" href="">
							<i class="fa-regular fa-newspaper anim-opacity me-3"></i>
							Новости
						</a>
					</li>
					<li class="nav-item">
						<a class="stat_referals nav-link d-inline-flex align-items-center" href="">
							<i class="fa-regular fa-users-medical anim-opacity me-3"></i>
							Рефералы
						</a>
					</li> <!-- /nav-item -->
					<li class="nav-item">
						<a class="stat_support nav-link d-inline-flex align-items-center" href="">
							<i class="fa-regular fa-life-ring anim-opacity me-3"></i>
							Поддержка
						</a>
					</li> <!-- /nav-item -->

				</ul> <!-- /nav -->
			</div> <!--/sidebar-sticky-->
		</nav> <!--/sidebar-->


		<main class="col-12 col-xl-10 px-xl-4 ms-xl-auto">

			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-end pt-3 pb-2 mt-2 mb-2">
				<h1 class="h5">
					Имя Страницы
				</h1> <!-- /title -->


				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-1">
						<li class="breadcrumb-item">
							<a href="">
								Главная
							</a>
						</li>
						{% if inside %}
						<li class="breadcrumb-item">
							<a href="{{ inside.page_url }}">
								{{ inside.page_title }}
							</a>
						</li>
						{% endif %}
						<li class="breadcrumb-item active" aria-current="page">
							Имя страницы
						</li>
					</ol> <!-- /breadcrumb -->
				</nav> <!-- /breadcrumb-container -->
			</div> <!-- /page-title -->

{% block content %}

{% endblock content %}

		</main> <!-- /content -->
	</div> <!-- /row -->
</div> <!-- /container-fluid -->

<script>
	function fallbackCopyTextToClipboard(text) {
	  var textArea = document.createElement("textarea");
	  textArea.value = text;

	  // Avoid scrolling to bottom
	  textArea.style.top = "0";
	  textArea.style.left = "0";
	  textArea.style.position = "fixed";

	  document.body.appendChild(textArea);
	  textArea.focus();
	  textArea.select();

	  try {
		var successful = document.execCommand('copy');
		var msg = successful ? 'successful' : 'unsuccessful';
		console.log('Fallback: Copying text command was ' + msg);
	  } catch (err) {
		console.error('Fallback: Oops, unable to copy', err);
	  }

	  document.body.removeChild(textArea);
	}
	function copyTextToClipboard(text) {
	  if (!navigator.clipboard) {
		fallbackCopyTextToClipboard(text);
		return;
	  }
	  navigator.clipboard.writeText(text).then(function() {
		console.log('Async: Copying to clipboard was successful!');
	  }, function(err) {
		console.error('Async: Could not copy text: ', err);
	  });
	}
</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})
</script>

<script>
	const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
	const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static '/js/jquery-ui.js' %}"></script>

<script>

	var stat_linkEl = document.querySelectorAll('.statistic_link');
	var side_stat_showEl = document.querySelector('.sideshow_static');
	var elem_stat_showEl = document.querySelector('.elemshow_static');

	var offers_linkEl = document.querySelectorAll('.offers_link');
	var side_offers_showEl = document.querySelector('.sideshow_offers');
	var elem_offers_showEl = document.querySelector('.elemshow_offers');

	var elem_stream_active = document.querySelector('.stat_streams')
	var elem_posts_active = document.querySelector('.stat_posts')
	var elem_payments_active = document.querySelector('.stat_payments')
	var elem_news_active = document.querySelector('.stat_news')
	var elem_referals_active = document.querySelector('.stat_referals')
	var elem_support_active = document.querySelector('.stat_support')
	var elem_stat_top_active = document.querySelector('.stat_top')

	var re_streams = /\/stream/;
	var re_postback = /\/postback/;
	var re_payment = /\/payment/;
	var re_news = /\/news/;

	function checkActive (stat) {
		for (let i = 0; i < stat.length; i++) {
			if (stat[i].classList.contains('active')) {
				return true;
			};
		} return false;
		};

	for (let i = 0; i < stat_linkEl.length; i++){
		if (document.location.pathname == '/general/'){
			stat_linkEl[0].classList.add('active');
		}else if(document.location.pathname == '/days/'){
			stat_linkEl[1].classList.add('active');
		}else if(document.location.pathname == '/hours/'){
			stat_linkEl[2].classList.add('active');
		}else if(document.location.pathname == '/stat-subs/'){
			stat_linkEl[3].classList.add('active');
		}else if(document.location.pathname == '/stat-rebills/'){
			stat_linkEl[4].classList.add('active');
		}else if(document.location.pathname == '/stat-unsubs/'){
			stat_linkEl[5].classList.add('active');
		}
	}

	for (let i = 0; i < offers_linkEl.length; i++){
		if (document.location.pathname == offers_linkEl[i].getAttribute('href')){
			offers_linkEl[i].classList.add('active');
		}
	}

	if (checkActive(stat_linkEl)){
		side_stat_showEl.classList.remove('collapsed');
		side_stat_showEl.removeAttribute('aria-expanded');
		side_stat_showEl.setAttribute('aria-expanded', 'true');
		elem_stat_showEl.classList.add('show');
	}else if (checkActive(offers_linkEl)){
		side_offers_showEl.classList.remove('collapsed');
		side_offers_showEl.removeAttribute('aria-expanded');
		side_offers_showEl.setAttribute('aria-expanded', 'true');
		elem_offers_showEl.classList.add('show');
	}else if (re_streams.test(document.location.pathname)){
		elem_stream_active.classList.add('active')
	}else if (re_postback.test(document.location.pathname)){
		elem_posts_active.classList.add('active')
	}else if (re_payment.test(document.location.pathname)){
		elem_payments_active.classList.add('active')
	}else if (re_news.test(document.location.pathname)){
		elem_news_active.classList.add('active')
	}else if(document.location.pathname == '/referrals/'){
		elem_referals_active.classList.add('active')
	}else if (document.location.pathname == '/support/'){
		elem_support_active.classList.add('active')
	}else if (document.location.pathname == '/top-webs/'){
		elem_stat_top_active.classList.add('active')
	}
</script>

</body>
</html>
