{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div id="accordion">
						<div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordion">

							<div class="card-header d-flex align-items-center card-header-no-bg">

								<div class="card-title h6 fw-bold text-uppercase border-start border-primary border-3 ps-2 mb-3">
									Предполагаемые затраты
								</div>

							</div>

							<form action="" method="POST" type="add_pdr">
								{% csrf_token %}
								<div class="card-body">
									<div class="row">

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="month">Месяц</label>
											<select class="form-select" name="month" id="month">
												{% for key, val in month_dict.items %}
													<option value="{{ key }}">{{ val }}</option>
												{% endfor %}
											</select>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="year">Год</label>
											<input class="form-control" autocomplete="off" name="year" id="year" placeholder="2023"/>
										</div>

										<div class="border-top mt-4 mb-4"></div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="office_rent">Аренда офиса</label>
											<input class="form-control" autocomplete="off" name="office_rent" id="office_rent" placeholder="50000"/>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="office_electric">Электричество</label>
											<input class="form-control" autocomplete="off" name="office_electric" id="office_electric" placeholder="15000"/>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="office_heating">Отопление</label>
											<input class="form-control" autocomplete="off" name="office_heating" id="office_heating" placeholder="8000"/>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="salary">Зарплата</label>
											<input class="form-control" autocomplete="off" name="salary" id="salary" placeholder="500000"/>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="unplanned_expenses">Незапланированные расходы</label>
											<input class="form-control" autocomplete="off" name="unplanned_expenses" id="unplanned_expenses" placeholder="30000"/>
										</div>

									</div>

									<div class="card-header d-flex align-items-center card-header-no-bg">

										<div class="card-title h6 fw-bold text-uppercase border-start border-primary border-3 ps-2 mb-3">
											Предполагаемый доход
										</div>

									</div>

								</div>

								<div class="card-body">

									<div class="row">

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="partner_program">Партнерская программа</label>
											<input class="form-control" autocomplete="off" name="partner_program" id="partner_program" placeholder="500000"/>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											<label class="label" for="additional_income">Сторонний доход</label>
											<input class="form-control" autocomplete="off" name="additional_income" id="additional_income" placeholder="15000"/>
										</div>

									</div>

									<div class="row">

										<div class="col-sm-3">
											<button class="btn btn-primary save_button" type="submit">
												Добавить
											</button>
										</div>

									</div>

								</div>
							</form>	
						</div>
					</div>

					<button onclick="$(this).text($(this).text() == 'Добавить' ? 'Скрыть' : 'Добавить');" type="button" class="mb-3 btn btn-secondary text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">Добавить</button>

					<div class="table-responsive">
						<table class="table table-bordered text-nowrap mb-0">
							<thead class="text-center">
								<tr>
									<th class="text-center" rowspan="2">Категория</th>
									<th colspan="2">
										{{ bdr_info.month_year }}
									</th>
									<th colspan="2">Суммарно</th>
									<th colspan="2">Отклонения</th>
									<th rowspan="2">Итого</th>
								</tr>
								<tr>
									<th>Предполагаемый</th>
									<th>Фактический</th>
									<th>Предполагаемый</th>
									<th>Фактический</th>
									<th>В руб.</th>
									<th>В процентах</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr class="align-middle">
									<td class="h6 text-uppercase fw-bold">Расходы</td>
									<td></td>
									<td></td>
									<td rowspan="5">
										{{ bdr_info.sum_expenses }}
									</td>
									<td rowspan="5" style="background: red">
										479 000<br>(факт расх)
									</td>
									<td rowspan="5">
										-4 000<br>(предп-факт)<br>расх
									</td>
									<td rowspan="5">
										-0,8 % <br>((откл-руб) /<br>предп расх*100)
									</td>
									<td rowspan="8" style="background: cyan">
										106 000<br>(итог откл.руб)
									</td>
								</tr>
								<tr>
									<td>Аренда офиса</td>
									<td>
										{{ bdr_info.office_rent }}
									</td>
									<td style="background: lightblue">
										50 000<br>(факт аренда)
									</td>
								</tr>

								<tr>
									<td>Электричество</td>
									<td>
										{{ bdr_info.office_electric }}
									</td>
									<td style="background: red">
										20 000<br>(факт эл)
									</td>
								</tr>
								<tr>
									<td>Отопление</td>
									<td>
										{{ bdr_info.office_heating }}
									</td>
									<td style="background: cyan">
										9 000<br>(факт отоп)
									</td>
								</tr>
								<tr>
									<td>Зарплата</td>
									<td>
										{{ bdr_info.salary }}
									</td>
									<td style="background: lightblue">
										400 000<br>(факт зп)
									</td>
								</tr>

								<tr class="align-middle">
									<td class="h6 text-uppercase fw-bold">Доход</td>
									<td></td>
									<td></td>
									<td rowspan="3">
										{{ bdr_info.sum_profit }}
									</td>
									<td rowspan="3" style="background: cyan">
										960 000<br>(сум доход факт)
									</td>
									<td rowspan="3">
										110 000<br>(сум (факт-предп))
									</td>
									<td rowspan="3">
										13 %<br>предп/(сум (факт-предп))*100
									</td>
								</tr>

								<tr>
									<td>Партнерская программа</td>
									<td>
										{{ bdr_info.profit_partnership }}
									</td>
									<td style="background: cyan">860 000</td>
								</tr>
								<tr>
									<td>Сторонний доход</td>
									<td>
										{{ bdr_info.profit_other }}
									</td>
									<td style="background: cyan">
										100 000<br>факт сторон
									</td>
								</tr>
							</tbody>
						</table> <!-- /table -->
					</div>

					<div class="card-header d-flex align-items-center card-header-no-bg">

						<div class="card-title h6 fw-bold text-uppercase border-start border-primary border-3 ps-2 mt-3">
							Задать период для просмотра данных
						</div>

					</div>

					<div class="row">

						
						<div class="col-12 col-sm-3 mb-3">
							<label class="label" for="start_pdr">Старт</label>
							<input class="form-control" autocomplete="off" name="start_pdr" id="start_pdr" placeholder="01-2023"/>
						</div>

						
						<div class="col-12 col-sm-3 mb-3">
							<label class="label" for="end_pdr">Конец</label>
							<input class="form-control" autocomplete="off" name="end_pdr" id="end_pdr" placeholder="01-2023"/>
						</div>

						<div class="">
							<button class="btn btn-primary show_pdr" type="submit">
								Посмотреть
							</button>
						</div>

					</div>

				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!-- /row -->

	<script type="text/javascript">

		$(function(){
			$("#start_pdr").datepicker({
				dateFormat: 'mm-yy',
				maxDate: '0'})
		});

		$(function(){
			$("#end_pdr").datepicker({
				dateFormat: 'mm-yy',
				maxDate: '0'})
		});

	</script>

{% endblock content %}