{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">

					<div class="row">
						{% for count, holder in holders|enu_list %}
						<div class="col-lg-3 col-6 text-center">
							<div id="{{ holder.id }}" type="button" class="container-fluid holders_id btn btn-{{color_list|get_item:count}}" style="border-radius: 15px;">
								<div class="inner" style="text-align: -webkit-center;border-radius: 20px;">
									<h1>{{ holder.holder_balance|numb_format }}</h1><h5>{{ holder.organization_holder }}</h5>
									<p>Расчетный счет - {{ holder.payment_account }}</p>
								</div>
								<!-- Button trigger modal -->
								<button type="button" class="btn buttonSelectModal" data-holder-id="{{ holder.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ holder.organization_holder }}">
									Добавить транзакцию
								</button>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="row mt-4">
						<div class="col-12 col-sm-12">
							<div class="card mb-4 card_info_trans">
								
								<div class="alert align-items-center mb-0 holder_alert text-center">
									<i class="fa-regular fa-triangle-exclamation me-2"></i>
									<div>
										<strong>Выберите балансодержателя для просмотра информации</strong>
									</div>
								</div>

								<div class="card-header card-header-no-bg border-bottom-0 holder_table" hidden>
									<div class="card-title h6 fw-bold text-uppercase border-start border-primary border-3 ps-2 mb-0">
										Транзакции
									</div> <!-- /card-title -->
								</div> <!-- /card-header -->

								<div class="card-body holder_table" hidden>
									
									<div class="table-responsive">
										<table class="table table-bordered text-nowrap mb-0">
											<thead>
												<tr class="text-center">
													<th>Дата создания</th>
													<th>Дата транзакции</th>
													<th>Дата изменения</th>
													<th>Тип транзакции</th>
													<th>Сумма</th>
													<th>Автор создания</th>
													<th>Балансодержатель</th>
													<th>Наименование</th>
													<th>Тип платежа</th>
													<th>Чек</th>
												</tr>
											</thead>
											
											<tbody class="info_transaction">
												
											</tbody>
											
										</table>
									</div> <!-- /table-responsive -->
									
								</div> <!-- /card-body -->

							</div> <!-- /card -->
						</div> <!-- /col -->
					</div> <!-- /row -->

				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content border-0">
					<form action="" name="createNewTransaction" id="formSendTransaction">
						<div class="modal-header" >
							<h5 class="modal-title" id="newTransactionModalLabel">
								Новая транзакция для:
							</h5> <!-- /modal-title -->

							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div> <!-- /modal-header -->

						<div class="modal-body" id="formSendTransactionElem">
							<div class="form-floating mb-3">
								<input type="text" name="balance_holder" id="balance_holder" hidden>
								<input type="text" class="form-control" id="newTransactionName" placeholder="Имя" name="newTransactionName">
								<label for="newTransactionName">
									Имя транзакции
								</label>
							</div> <!-- /form-floating -->

							<div class="form-floating mb-3">
								<input autocomplete="off" onfocus="this.value=''" list="list_pay" class="obligatory form-control" name="type_payment" id="type_payment" placeholder="Тип платежа"/>
								<datalist id="list_pay">
									{% for type in type_payments %}
									<option value="{{ type }}">{{ type }}</option>
									{% endfor %}
								</datalist>

								<label for="type_payment">
									Тип платежа
								</label>
							</div> <!-- /form-floating -->

							<div class="form-floating mb-3">
								<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control mb-2" name="type_transaction" list="datalist_transaction_type" id="type_transaction" placeholder="Тип транзакции"/>
								<datalist id="datalist_transaction_type">
									<option value="Приход">Приход</option>
									<option value="Расход">Расход</option>
								</datalist>

								<label for="type_transaction">
									Тип транзакции
								</label>
							</div> <!-- /form-floating -->

							<script>
								$(function(){
									$(".datepicker").datepicker({dateFormat: 'dd.mm.yy'});
								});
							</script>
							<div class="form-floating mb-3">
								<input autocomplete="off" class="obligatory form-control" name="transaction_date" placeholder="Нажмите сюда" id="datepicker"/>
								<label for="datepicker">
									Дата транзакции
								</label>
							</div> <!-- /form-floating -->

							<div class="form-floating mb-3">
								<input autocomplete="off" class="obligatory form-control" name="amount" placeholder="Сумма транзакции" id="amount"/>
								<label for="amount">
									Сумма транзакции
								</label>
							</div>  <!-- /form-floating -->
						</div> <!-- /modal-body -->

						<div class="modal-footer">
							<div class="row">
								<div class="col-12 mb-3">
									<a href="" class="btn btn-secondary w-100 holder_link">
										Перейти на полную версию создания
									</a> <!-- /btn -->
								</div>
								<div class="col-12 mb-3">
									<button id="changeVariableList" onclick="createTransaction()" type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" aria-label="Close">
										Сохранить
									</button> <!-- /btn -->
								</div>
							</div>
						</div> <!-- /modal-footer -->
					</form>
				</div> <!-- /modal-content -->
			</div> <!-- /modal-dialog -->
		</div> <!-- /modal -->

<script>

	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = ''

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=')
		b[0] = b[0].replace(/\s+/g, '')
		if (b[0] == 'csrftoken') {
		token = b[1]
		}
	}
		
	var exampleModal = document.getElementById('exampleModal')
	
	var buttonSelectModal = $('.buttonSelectModal')
	var modalTitle = exampleModal.querySelector('.modal-title')
	var holder_link = exampleModal.querySelector('.holder_link')

	for (let i=0;  buttonSelectModal.length > i; i++){
		buttonSelectModal[i].addEventListener('click', function(event){
			if (event.currentTarget == buttonSelectModal[i]){
				var holder = exampleModal.querySelector('#balance_holder')
				var id_holder = buttonSelectModal[i].getAttribute('data-holder-id')
				holder.value = buttonSelectModal[i].getAttribute('data-bs-whatever')
				modalTitle.textContent = 'Создать транзакцию для ' + buttonSelectModal[i].getAttribute('data-bs-whatever')
				holder_link.setAttribute('href', `transactions-holder-create/${id_holder}`)
			}
		})
	}

	function createTransaction(){

		var holder = exampleModal.querySelector('#balance_holder').value
		var transaction_name = exampleModal.querySelector('#newTransactionName').value
		var payment_type = exampleModal.querySelector('#type_payment').value
		var transaction_type = exampleModal.querySelector('#type_transaction').value
		var transaction_date = exampleModal.querySelector('#datepicker').value
		var amount = exampleModal.querySelector('#amount').value

		$.ajax(
		{
			url: url,
			method: 'POST',
			data: {
				csrfmiddlewaretoken: token,
				type: 'create_transaction',

				holder_post: holder,
				transaction_name_post: transaction_name,
				transaction_date_post: transaction_date,
				amount_post: amount,
				payment_type_post: payment_type,
				transaction_type_post: transaction_type
			}
		}).then(function(result) {
			var x = 1;
		}).catch(function(err) {
			var x = 2;
		})
	}

	var holders_id = document.querySelectorAll('.holders_id');

	for (let i = 0; i < holders_id.length; i++){
		
		holders_id[i].addEventListener('click', function(event) {
			if (event.currentTarget == holders_id[i]){
				holders_id[i].classList.add('border-dark');
				$.ajax(
					{
						url: url,
						method: 'POST',
						data: {
							csrfmiddlewaretoken: token,
							type: 'holders_id',
							id: holders_id[i].getAttribute("id")
						}
					}).then(function(result) {
						var transaction_table = $('.info_transaction');
						$('.holder_alert').remove();
						$('.sum_transaction_info').remove();
						transaction_table.empty();

						var response = JSON.parse(result);
						var transa = response.transactions;
						var sum_coming = response.sum_coming;
						var sum_expenditure = response.sum_expenditure;
						var balance_holder = response.balance_holder
						
						if (transa.length) {
							if ($('.sum_transaction_info')){
								$('.sum_transaction_info').remove();
							}
							var sum_transaction_info = `<div class="row sum_transaction_info">
															<div class="text-center">
																<strong>Балансодержатель - ${balance_holder}</strong>
																</div>
															<div class="row">
																<div class="col-lg-3 col-6 container-fluid ">
																	<div class="pt-4 pb-3">
																		<div class="d-flex">
																			<div class="h6 mb-2 small">
																				<strong>Сумма входящих транзакция</strong>
																			</div>
																		</div>
																		<div class="pb-0 mt-0">
																			<div class="d-flex">
																				<div class="fs-5 fw-light mb-0">
																					${sum_coming.coming} <i class="fa-regular fa-ruble-sign ms-1"></i>
																				</div>
																			</div>
																		</div>
																	</div>
																</div> <!-- /col -->

																<div class="col-lg-3 col-6 container-fluid ">
																	<div class="pt-4 pb-3">
																		<div class="d-flex">
																			<div class="h6 mb-2 small">
																				<strong>Сумма исходящих транзакция</strong>
																			</div>
																		</div>
																		<div class="pb-0 mt-0">
																			<div class="d-flex">
																				<div class="fs-5 fw-light mb-0">
																					${sum_expenditure.expenditure} <i class="fa-regular fa-ruble-sign ms-1"></i>
																				</div>
																			</div>
																		</div>
																	</div> <!-- /col -->
																</div> <!-- /col -->
															</div> <!-- /row -->
														</div> <!-- /row -->`
							$('.holder_non_transaction').remove()
							$('.holder_table').removeAttr('hidden');
							
							$('.card_info_trans').prepend(sum_transaction_info);
							for (let i = 0; i < transa.length; i++) {
								if (transa[i].type_transaction == 'COMING') {
									var type = `<span class="badge text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
													Приход
												</span>`
								} else {
									var type = `<span class="badge text-bg-outline-danger d-flex align-items-center justify-content-center rounded-pill">
													Расход
												</span>`
								};

								if (transa[i].check_img) {
									var img = `<a href="/media/${transa[i].check_img}" data-bs-toggle="tooltip" data-bs-title="Посмотреть">
													<i class="fa-regular fa-clipboard"></i>
												</a>`
								} else {
									var img = '&ndash;'
								}

								if (transa[i].update_date){
									var update_date = transa[i].update_date
								} else {
									var update_date = '&ndash;'
								}

								var transaction_info =`<tr class="text-center">
															<td>${transa[i].create_date}</td>
															<td>${transa[i].transaction_date}</td>
															<td>${update_date}</td>
															<td>${type}</td>
															<td>${transa[i].amount}</td>
															<td>${transa[i].author_id}</td>
															<td>${transa[i].balance_holder_id}</td>
															<td>${transa[i].name}</td>
															<td>${transa[i].type_payment_id}</td>
															<td>${img}</td>
														</tr>`;
								transaction_table.prepend(transaction_info);
							}
						} else {
							var no_transactions = `<div class="alert d-flex align-items-center mb-0 holder_non_transaction">
														<i class="fa-regular fa-triangle-exclamation me-2"></i>
														<div>
															У Балансодержателя отсутствуют завершенные транзакции
														</div>
													</div>`
							if ($('.holder_non_transaction')){
								$('.holder_non_transaction').remove();
							}
							$('.holder_table').attr('hidden', 'true');
							$('.card_info_trans').prepend(no_transactions);
						}
					}).catch(function(err) {
						var x = 1;
				})
			} else {
				holders_id[i].classList.remove('border-dark');
			}
		})
	};

</script>

{% endblock content %}
