{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-header d-flex align-items-center card-header-no-bg border-bottom-0">
						{% if user.is_superuser or user.is_staff %}
						<div class="card-options ms-auto">
							<button type="button" class="btn btn-primary btn-sm buttonSelectModal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ holder.organization_holder }}">
								Новая категория
							</button>
						</div>

						<div class="card-options ms-auto">
							<button type="button" class="btn btn-secondary btn-sm buttonSelectModal" data-bs-toggle="modal" data-bs-target="#subPayType">
								Создать подкатегорию
							</button>
						</div>

						{% endif %}
					</div>
					<div class="table-responsive">
						{% if pay_type %}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0 text-center">
									<thead>
										<tr>
											<th>ID</th>
											<th>Название</th>
											<th>Привязанные подкатегории</th>
										</tr>
									</thead>
									<tbody class="align-middle pay-type-container">
									{% for object in pay_type %}
										<tr>
											<td>
												{{ object.id }}
											</td>
											<td>
												<div class="d-flex justify-content-between bd-highlight">
													<div class="d-flex justify-content-start">
														{{ object.pay_type }}
													</div>

													<div class="d-flex justify-content-end">
														<button
															type="button"
															class="btn btn-light btn-sm buttonSelectModal pay_edit_modal"
															data-bs-toggle="modal"
															data-bs-pay-id="{{ object.id }}"
															data-bs-target="#subPayTypeAdd"
															data-bs-whatever="{{ object.pay_type }}">
															<i class="fa-regular fa-pen-to-square"></i>
														</button>
													</div>
												</div>
											</td>
											<td>
												{% if object.subtypes_of_the_type.all %}
													{% for i in object.subtypes_of_the_type.all %}
														<option>{{ i }}</option>
													{% endfor %}
												{% else %}
													&ndash;
												{% endif %}
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
						{% else %}
						<div class="alert alert-warning" role="alert">
							<h5 class="alert-heading text-center">
								<i class="fa-regular fa-octagon-exclamation me-2"></i>
								Нет доступных данных
							</h5>
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

	<!-- Модальное окно для создания Нового типа платежа с выбором доп параметров -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content border-0">
				<div action="" name="newTypePay" id="newTypePay">
					<div class="modal-header">
						<h5 class="modal-title" id="newPayTypeModalLabel">
							Новая категория:
						</h5> <!-- /modal-title -->
						<button type="button" class="btn-close close_type_payment" data-bs-dismiss="modal" aria-label="Close"></button>
					</div> <!-- /modal-header -->

					<div class="modal-body" id="form_type_payment">
						
						<div class="form-floating mb-1">
							<input class="form-control" autocomplete="off" onfocus="this.value=''" name="type_payment" id="type_payment"/>
							<label for="type_payment">
								Название категории
							</label>
						</div> <!-- /form-floating -->
					</div> <!-- /modal-body -->

					{% if sub_pay_types %}
						<div class="modal-body">
							<h5 class="modal-title">
								Привязать подкатегорию:
							</h5> <!-- /modal-title -->
							{% for sub_type in sub_pay_types %}
								<div class="col-12">
									<input class="form-check-input sup_pay_types_checked" type="checkbox" name="{{ sub_type.pk }}" id="{{ sub_type.pk }}"/>
									<label for="{{ sub_type.pk }}">{{ sub_type }}</label>
								</div>
							{% endfor %}
						</div>
					{% else %}
					{% endif %}

					<div class="modal-footer">
						<div class="row">
							<div class="col-12 mb-3">
								<button id="create_pay_btn" type="button" class="btn btn-primary w-100">
									Сохранить
								</button> <!-- /btn -->
							</div>
						</div>
					</div> <!-- /modal-footer -->
				</div>
			</div> <!-- /modal-content -->
		</div> <!-- /modal-dialog -->
	</div> <!-- /modal -->

	<!-- Модальное окно для создания Нового подтипа платежа -->
	<div class="modal fade" id="subPayType" tabindex="-1" aria-labelledby="subPayTypeLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content border-0">
				<div action="" name="newSubTypePay" id="newSubTypePay">
					<div class="modal-header">
						<h5 class="modal-title" id="newSubTypePayModalLabel">
							Создание подкатегории:
						</h5> <!-- /modal-title -->

						<button type="button" class="btn-close subPayTypeClose" data-bs-dismiss="modal" aria-label="Close"></button>
					</div> <!-- /modal-header -->

					<div class="modal-body" id="form_sub_type_payment">
						
						<div class="form-floating mb-3">
							<input class="form-control" autocomplete="off" onfocus="this.value=''" name="sub_type_payment" id="sub_type_payment"/>
							<label for="sub_type_payment">
								Введите подкатегорию
							</label>
						</div> <!-- /form-floating -->
					</div> <!-- /modal-body -->

					<div class="modal-footer">
						<div class="row">
							<div class="col-12 mb-3">
								<button id="create_sub_pay" onclick="createSubPayType()" type="button" class="btn btn-primary w-100">
									Сохранить
								</button> <!-- /btn -->
							</div>
						</div>
					</div> <!-- /modal-footer -->
				</div>
			</div> <!-- /modal-content -->
		</div> <!-- /modal-dialog -->
	</div> <!-- /modal -->

	<!-- Модальное окно для редактирования типа платежа (добавления/удаления подтипа платежа) -->
	<div class="modal fade" id="subPayTypeAdd" tabindex="-1" aria-labelledby="subPayTypeAddLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content border-0">
				<form action="" name="newsubPayTypeAdd" id="newsubPayTypeAdd">

					<div class="modal-header">
						<h5 class="modal-title" id="newsubPayTypeAddModalLabel">
						</h5> <!-- /modal-title -->
						<button type="button" class="btn-close close_add_sub_params" data-bs-dismiss="modal" aria-label="Close">
						</button>
					</div> <!-- /modal-header -->
					<input class="type_payment_modal" value="" hidden>
					<div class="modal-body" id="form_subPayTypeAdd">
						<div class="row">
							{% for sub_type in sub_pay_types %}
								<div class="col-12">
									<input class="form-check-input sup_pay_types_checked_edit" type="checkbox" name="{{ sub_type.id }}" id="id-{{ sub_type.id }}"/>
									<label for="id-{{ sub_type.id }}">{{ sub_type }}</label>
								</div>
							{% endfor %}
						</div>
					</div> <!-- /modal-body -->
					<div class="modal-footer">
						<div class="row">
							<div class="col-12 mb-3">
								<button id="subPayTypeAddFunc" type="button" class="btn btn-primary w-100">
									Сохранить
								</button> <!-- /btn -->
							</div>
						</div>
					</div> <!-- /modal-footer -->

				</form>
			</div> <!-- /modal-content -->
		</div> <!-- /modal-dialog -->
	</div> <!-- /modal -->

	<div class="position-fixed bottom-0 top-5 end-0 p-3" style="z-index: 11">
		<div id="liveToast" class="toast hide bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
			 <div class="toast-header">
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
			  </div>
			<div class="toast-body text-white" id="toast_content">
				
			</div>
		</div>
	</div>

	<script>

		var url = document.location.href;
		var a = document.cookie.split(';');
		var token = ''

		for (i = 0; i < a.length; i++) {
			var b = a[i].split('=')
			b[0] = b[0].replace(/\s+/g, '')
			if (b[0] == 'csrftoken') {
			token = b[1]
			}
		}

		// Проверка типа платежа
		$('#type_payment').on('input change', function(){
			$.ajax({
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_type',
					type_payment: $('#type_payment').val()
				}
			}).then(function(result){
				if (result.message) {
					$('#type_payment').removeClass('is-invalid');
					$('#type_payment').addClass('is-valid');
				} else {
					$('#type_payment').removeClass('is-valid');
					$('#type_payment').addClass('is-invalid');
				}
			}).catch(function(err){
				var x = 0
			})
		})
		// Создание типа платежа с подтипами, если они имеются
		$('#create_pay_btn').on('click', function(event){
			var checkedArray = []
			var myArray = $('.sup_pay_types_checked');
			$.each(myArray, function(index, element){
				if(element.checked){
					checkedArray.push(myArray[index].id)
				}
			});
			var new_pay_type = $('#type_payment').val();
			$.ajax({
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'new_pay_type',
					type_payment: new_pay_type,
					sub_type_payments: checkedArray
				}
			}).then(function(result){
				window.location.hash = 'new_pay';
				location.reload();
			}).catch(function(err){
				var x = 0
			})
		})

		// Проверка наличия подтипа платежа при создании нового
		$('#sub_type_payment').on('input change', function(){
			$.ajax({
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_sub_pay_type',
					sub_type_payment: $('#sub_type_payment').val()
				}
			}).then(function(result){
				if (result.message) {
					$('#sub_type_payment').removeClass('is-invalid');
					$('#sub_type_payment').addClass('is-valid');
					$('#create_sub_pay').removeAttr('disabled');
				} else {
					$('#sub_type_payment').removeClass('is-valid');
					$('#sub_type_payment').addClass('is-invalid');
					$('#create_sub_pay').attr('disabled', 'true');
				}
			}).catch(function(err){
				var x = 0
			})
		})
		// Создание нового подтипа платежа
		function createSubPayType(){
			var sub_pay_type = $('#sub_type_payment').val()
			$.ajax({
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'new_sub_pay_type',
					sub_type_payment: sub_pay_type
				}
			}).then(function(result){
				$('.subPayTypeClose').click();
				$('#sub_type_payment').removeClass('is-valid');
				$('#sub_type_payment').val('')
				window.location.hash = 'new_sub_pay';
				location.reload();
			}).catch(function(err){
				var x = 0
			})
		}

		// Кнопка вызова модального окна для редактирования типа платежа
		var buttons_add_sub_pay = $('.pay_edit_modal');
		// Открытие модального окна для редактирования
		for(let i=0; buttons_add_sub_pay.length > i; i++){
			buttons_add_sub_pay[i].addEventListener('click',function(event){
				if (event.currentTarget == buttons_add_sub_pay[i]){
					var pay_type_element = ''
					var pay_type_label = buttons_add_sub_pay[i].getAttribute('data-bs-whatever');
					// запрос для получения подтипов платежа у конкретного типа платежа
					$.ajax({
						url: url,
						method: 'POST',
						data: {
							csrfmiddlewaretoken: token,
							type: 'get_type_pay',
							type_pay: pay_type_label
						}
					}).then(function(result){
						pay_type_element = result.sub_params;
						$('#newsubPayTypeAddModalLabel').text(`Редактировать тип платежа: ${pay_type_label}`);
						$('.type_payment_modal').attr('value', `${pay_type_label}`);
						$('.sup_pay_types_checked_edit').prop('checked', false);
						var myArray = $('.sup_pay_types_checked_edit');
						for (let i=0; myArray.length > i; i++){
							if(pay_type_element.includes(Number(myArray[i].name))){
								myArray[i].checked = true;
							}
						}
					}).catch(function(err){
						var x = 0;
					});
				}
			})
		}
		// Добавление/удаление подтипов у типа платежа
		$('#subPayTypeAddFunc').on('click', function(event){
			var checkedArray = []
			var myArray = $('.sup_pay_types_checked_edit');

			for (let i=0; myArray.length > i; i++){
				if(myArray[i].checked){
					checkedArray.push(myArray[i].name)
				}
			}
			$.ajax({
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'add_sub_pay_type',
					type_payment: $('.type_payment_modal').val(),
					sub_type_payments: checkedArray
				}
			}).then(function(result){
				$('.close_add_sub_params').click();
				window.location.hash = 'edit_pay';
				location.reload();
			}).catch(function(err){
				var x = 0;
			})
		})

		document.addEventListener("DOMContentLoaded", function(event) { 
			if(window.location.hash == "#edit_pay"){
				var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function(toastEl) {
					$('#toast_content').text("Успешное редактирование");
					// Creates an array of toasts (it only initializes them)
					return new bootstrap.Toast(toastEl) // No need for options; use the default options
				});
				toastList.forEach(toast => toast.show()); // This show them
				history.pushState('', document.title, window.location.pathname);
			}else if(window.location.hash == "#new_sub_pay"){
				var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function(toastEl) {
					$('#toast_content').text("Создана новая подкатегория");
					// Creates an array of toasts (it only initializes them)
					return new bootstrap.Toast(toastEl) // No need for options; use the default options
				});
				toastList.forEach(toast => toast.show()); // This show them
				history.pushState('', document.title, window.location.pathname);
			}else if(window.location.hash == "#new_pay"){
				var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function(toastEl) {
					$('#toast_content').text("Создана новая категория");
					// Creates an array of toasts (it only initializes them)
					return new bootstrap.Toast(toastEl) // No need for options; use the default options
				});
				toastList.forEach(toast => toast.show()); // This show them
				history.pushState('', document.title, window.location.pathname);
			}
		});

	</script>

{% endblock content %}
