{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-body">
						<strong>Изменение транзакции - {{ transaction.name }} <br> Балансодержатель - {{ transaction.balance_holder }}</strong>
						<br>
						<form method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									{{ form.status.label }}
									<input autocomplete="off" onfocus="this.value=''" class="form-control mb-2" name="transaction_status" list="datalistStatus" id="transaction_status" value="{{ transaction.status|trans_status }}"/>
									<datalist id="datalistStatus">
										<option value="В процессе">В процессе</option>
										<option value="Отклонен">Отклонен</option>
										<option value="Успешно">Успешно</option>
									</datalist>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.transaction_date.label }}
									{% if transaction.transaction_date %}
										<input autocomplete="off" class="form-control" name="transaction_date" value="{{ transaction.transaction_date|date_format }}" id="datepicker"/>
									{% else %}
										{{ form.transaction_date }}
									{% endif %}
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.amount.label }}
									{% if transaction.amount %}
										<input autocomplete="off" onfocus="this.value=''" class="form-control" name="amount" value="{{ transaction.amount }}" id="amount"/>
									{% else %}
										{{ form.amount }}
									{% endif %}
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.type_payment.label }}
									<input autocomplete="off" onfocus="this.value=''" list="list_pay" class="form-control" name="type_payment" id="type_payment" value="{{ transaction.type_payment }}"/>
									<datalist id="list_pay">
										{% for type in type_payments %}
										<option value="{{ type }}">{{ type }}</option>
										{% endfor %}
									</datalist>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="id_check_img">{{ form.check_img.label }}</label>
									{% if transaction.check_img %}
										<input class="form-control mb-2 fileinput fileUpload form-control-file" name="check_img" type="file" title="{{ transaction.check_img }}" id="id_check_img">
									{% else %}
										{{ form.check_img }}
									{% endif %}
								</div>

							</div>	<!-- /row -->

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									{{ form.description.label }}
									<div>
										{% if transaction.description %}
										<textarea class="form-control" name="description" value="{{ transaction.description }}" id="description" placeholder="Описание">{{ transaction.description }}</textarea>
										{% else %}
											{{ form.description }}
										{% endif %}
									</div>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.tags.label }}
									<div>
										{% if transaction.tags %}
											<textarea class="form-control" name="tags" value="{{ transaction.tags }}" id="tags" placeholder="Теги транзакции">{{ transaction.tags }}</textarea>
										{% else %}
											{{ form.tags }}
										{% endif %}
									</div>
								</div>

							</div>    <!-- /row -->

							<button class="btn btn-lg btn-primary mt-4" type="submit">
								Сохранить
							</button> <!-- /btn -->

						</form>
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

	<script type="text/javascript">
		$(function(){
			$("#datepicker").datepicker({dateFormat: 'dd.mm.yy'});
		});
	</script>

{% endblock content %}
