{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
						{% if user.is_superuser or user.is_staff %}
						<a href="{% url 'transaction_create' %}">Создать транзакцию</a>
						{% endif %}
						{% if transactions %}
					<div class="card-body">
						<form method="POST" action="">
						{% csrf_token %}
						<input name="all_transactions" id="all_transactions" value="{{transactions}}" hidden/>
							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									<label for="filter_name">Фильтр по имени транзакии</label>
									<input class="form-control filter" autocomplete="off" list="transaction_name" name="filter_name" id="filter_name" placeholder="Введите имя транзакции"/>
									<datalist id="transaction_name">
										{% for transaction in transactions %}
										<option value="{{ transaction.name }}">{{ transaction.name }}</option>
										{% endfor %}
									</datalist>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="filter_holder">Фильтр по балансодержателям</label>
									<input class="form-control filter" list="balance_holder" autocomplete="off" name="filter_holder" id="filter_holder" placeholder="Введите балансодержателя"/>
									<datalist id="balance_holder">
										{% for holder in balance_holders %}
										<option value="{{ holder }}">{{ holder }}</option>
										{% endfor %}
									</datalist>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="filter_payment">Фильтр по типу платежа</label>
									<input class="form-control filter" list="pay_type" autocomplete="off" name="filter_payment" id="filter_payment" placeholder="Введите тип платежа"/>
									<datalist id="pay_type">
										{% for type in type_payments %}
										<option value="{{ type }}">{{ type }}</option>
										{% endfor %}
									</datalist>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="filter_tags">Фильтр по тегам</label>
									<input class="form-control filter" autocomplete="off" name="filter_tags" id="filter_tags" placeholder="Введите теги"/>
								</div>

							</div>

							<div id="accordionStatsDaysFilter">
								<div id="collapseStatsDaysFilter-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStatsDaysFilter" style="">
									<div class="row">

										<div class="col-12 col-sm-3 mb-3">

											<label for="input-date-group">
												Период
											</label> <!-- /form-label -->

											<div class="input-group" id="input-date-group">
												<span class="input-group-text">С</span>
												<input class="form-control filter" type="text" name="start" value="" id="datepicker"/>
												<span class="input-group-text">По</span>
												<input class="form-control filter" type="text" name="end" value="" id="datepicker1"/>
											</div> <!-- /input-group -->

										</div> <!-- /col -->

										<div class="col-12 col-sm-3 mb-3">
											<label for="filter_autor">Фильтр по автору создателя</label>
											<input class="form-control filter" list="user_filter" autocomplete="off" name="filter_autor" id="filter_autor" placeholder="Введите автора транзакции"/>
											<datalist id="user_filter">
												{% for author in authors %}
												<option value="{{ author }}">{{ author }}</option>
												{% endfor %}
											</datalist>
										</div> <!-- /col -->

										<div class="col-12 col-sm-3 mb-3">
											<label for="filter_type">Фильтр по типу транзакии</label>
											<select class="form-select filter" autocomplete="off" name="filter_type" id="filter_type">
												<option value="">Выберите тип транзакции</option>
												<option value="COMING">Приход</option>
												<option value="EXPENDITURE">Расход</option>
											</select>
										</div> <!-- /col -->

										<div class="col-12 col-sm-3 mb-3">
											<label for="filter_status">Фильтр по статусу транзакии</label>
											<select class="form-select filter" autocomplete="off" name="filter_status" id="filter_status">
												<option value="">Выберите статус транзакции</option>
												<option value="SUCCESSFULLY">Успешно</option>
												<option value="INPROCESS">В процессе</option>
												<option value="REJECT">Отклонен</option>
											</select>
										</div> <!-- /col -->

										<div class="row mb-3">

											<label for="input-amount-group">
												Фильтр по сумме транзакции
											</label>

											<div class="input-group" id="input-amount-group">
												<span class="input-group-text">Мин: </span>
												<input class="form-control filter" autocomplete="off" name="filter_amount_start" id="filter_amount_higher" placeholder="Введите цену транзакции"/>
												<span class="input-group-text">Макс: </span>
												<input class="form-control filter" autocomplete="off" name="filter_amount_end" id="filter_amount_below" placeholder="Введите цену транзакции"/>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<button onclick="$(this).text($(this).text() == 'Скрыть' ? 'Раскрыть' : 'Скрыть');" type="button" class="btn btn-secondary text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapseStatsDaysFilter-1" aria-expanded="false" aria-controls="collapseStatsDaysFilter-1">
										Раскрыть
									</button>
									<button type="submit" class="btn btn-primary ms-3">
										Показать
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="table-responsive">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead>
										<tr class="text-center">
											<th>Название</th>
											<th>Создан</th>
											<th>Изменён</th>
											<th>Тип транзакции</th>
											<th>Дата Транзакции</th>
											<th>Балансодержатель</th>
											<th>Сумма</th>
											<th>Тип платежа</th>
											<th>Автор</th>
											<th>Статус</th>
											<th>Файл с чеком</th>
										</tr>
									</thead>
									{% for object in transactions %}
									<tbody>
										<tr class="align-middle text-center">
											<td>{{ object.name }}
												{% if user.is_superuser %}
													<a href="{% url 'transaction_edit' object.id %}" class="btn btn-light btn-sm" data-bs-toggle="tooltip" data-bs-title="Редактировать">
														<i class="fa-regular fa-pen-to-square"></i>
													</a>
												{% endif %}</td>
											<td>{{ object.create_date|datetime_format }}</td>
											<td>{{ object.update_date|datetime_format|safe }}</td>
											<td>
												{% if object.type_transaction == 'COMING' %}
													<span class="badge text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
														Приход
													</span>
												{% else %}
													<span class="badge text-bg-outline-danger d-flex align-items-center justify-content-center rounded-pill">
														Расход
													</span>
												{% endif %}
											</td>
											<td>{{ object.transaction_date|date_format }}</td>
											<td>{{ object.balance_holder }}</td>
											<td>{{ object.amount|numb_format }}</td>
											<td>{{ object.type_payment }}</td>
											<td>{{ object.author }}</td>
											<td>
												{% if object.status == 'INPROCESS' %}
													<span class="badge text-bg-outline-info d-flex align-items-center justify-content-center rounded-pill">
														В процессе
													</span>
												{% elif object.status == 'SUCCESSFULLY' %}
													<span class="badge bg-warning d-flex align-items-center justify-content-center rounded-pill ms-auto my-auto">
														Успешно
													</span>
												{% else %}
													<span class="badge text-bg-outline-danger d-flex align-items-center justify-content-center rounded-pill">
														Отклонено
													</span>
												{% endif %}
											</td>
											<td>
												{% if object.check_img %}
												<a href="/media/{{ object.check_img }}" data-bs-toggle="tooltip" data-bs-title="Посмотреть">
													<i class="fa-regular fa-clipboard"></i>
												</a>
												{% else %}
												&ndash;
												{% endif %}
											</td>
										</tr>
									</tbody>
									{% endfor %}
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
						{% else %}
						<div class="card-body">
							Нет данных
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

<script>

	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = ''

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=')
		b[0] = b[0].replace(/\s+/g, '')
		if (b[0] == 'csrftoken') {
		token = b[1]
		}
	}

	var filters = $('.filter')
	var filter_dict = {}
	for (let i=0; i<filters.length; i++){
		filters[i].addEventListener('input', function(){
			if (filters[i].value){
				filter_dict[filters[i].getAttribute('name')] = filters[i].value;
				console.log(filter_dict);
			}else{
				delete filter_dict[filters[i].getAttribute('name')];
				console.log(filter_dict);
			}
		})
	};
	
	var transa = $('#all_transactions').val()
	console.log(transa)

</script>
<script type="text/javascript">
	$(function(){
		$("#datepicker").datepicker();
		$("#datepicker1").datepicker();
	});
</script>
{% endblock content %}
