{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div id="accordion">
						<div id="collapse-1" class="row accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordion">

							<form action="" method="POST" class="needs-validation" novalidate>
								{% csrf_token %}
								<div class="row">

									<div class="col-12 col-sm-3 mb-3" id="bank_el">
										<label class="label" for="bank_type">Банк</label>
										<select class="form-select" name="bank_type" id="bank_type">
											<option value="tinkoff">Tinkoff</option>
											<option value="capitalist">Capitalist</option>
											<option value="modulbank">МодульБанк</option>
										</select>
									</div>

									<div class="col-12 col-sm-3 mb-3" id="key_el">
										<label class="label" for="key">Ключ</label>
										<input class="input_validet form-control" name="key" id="key" placeholder="************************" required/>

										<div class="invalid-feedback">
											Корректный ключ должен быть не менее 87 симовлов
										</div>

									</div>

									<div class="col-12 col-sm-3 mb-3" id="account_el">
										<label class="label" for="account">Номер счета</label>
										<input class="input_validet form-control" name="account" id="account" placeholder="1111 1111 1111 1111 1111" required/>
										
										<div class="invalid-feedback">
											Номер счета должен состоять из 20 символов
										</div>

									</div>

									<div class="col-12 col-sm-3 mb-3" id="inn_el">
										<label class="label" for="inn">ИНН</label>
										<input class="input_validet form-control" name="inn" id="inn" placeholder="0000000000" required/>
										
										<div class="invalid-feedback">
											Номер ИНН должен быть 10-12 символов
										</div>

									</div>

									<div class="col-12 col-sm-3 mb-3">
										<label class="label" for="date_start">Дата с </label>
										<input class="input_validet form-control" name="date_start" id="date_start" placeholder="01.01.2023" required/>
									
										<div class="invalid-feedback">
											Поле не может быть пустым
										</div>

									</div>

									<div class="col-12 col-sm-3 mb-3">
										<label for="balance_holder">Для балансодержателя</label>
										<input class="input_validet form-control" autocomplete="off" id="balance_holder" list="balance_holder_list" name="balance_holder" placeholder="OOO &quot;СПАФФ ИТ&quot;" required/>
										<datalist id="balance_holder_list">
											{% for holder in balance_holders %}
											<option value="{{ holder.organization_holder }}">{{ holder.organization_holder }}</option>
											{% endfor %}
										</datalist>
										
										<div class="invalid-feedback">
											Такого балансодержателя нет
										</div>

									</div>

								</div>

								<div class="card-body">
									
									<div class="row">
										<div class="col-sm-3">
											<button class="btn btn-primary save_button" type="submit">
												Создать
											</button>
										</div>
									</div>
									
								</div>
								<div class="border-top mt-1 mb-4"></div>
							</form>	
						</div>
					</div>

					<button onclick="$(this).text($(this).text() == 'Добавить' ? 'Скрыть' : 'Добавить');" type="button" class="mb-1 btn btn-secondary text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">Добавить</button>
					{% if import_data %}
						<div class="table-responsive mt-4">
							<table class="text-center table table-bordered text-nowrap mb-0">
								<thead>
									<tr>
										<th>Данные</th>
										<th>Вкл/Выкл Импорт</th>
									</tr>
								</thead>
								<tbody>
									{% for i in import_data %}
									<tr>
										<td>{{ i.balance_holder }} с {{ i.date_start }} </td>
										<td>
											<label class="switch">
												{% if request.user.id == i.author %}
												<input id-import-data="{{ i.id }}" onclick="change_import(event);" type="checkbox"{% if i.status_import|change_bool == 1 %} checked{% endif %}/>
												{% else %} 
												<input type="checkbox"{% if i.status_import|change_bool == 1 %} checked{% endif %} disabled/>
												{% endif %}
												<span class="slider round"></span>
											</label>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table> <!-- /table -->
						</div>
					{% endif %}
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

	<div class="position-fixed bottom-0 top-5 end-0 p-3" style="z-index: 11">
		<div id="liveToast" class="toast hide bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
			 <div class="toast-header">
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
			  </div>
			<div class="toast-body text-white" id="toast_content">
				
			</div>
		</div>
	</div>

	<script>

		var url = document.location.href;
		var a = document.cookie.split(';');
		var token = '';
		var regEx = /[\\><\|\/a-zA-Z\/\+~\=`\]!\[@\{#\}$%\^&:;*\?\(\)_\-а-яА-Я]/;

		//datepicker
		$(function(){
			$("#date_end").datepicker();
			$("#date_start").datepicker();
		});

		for (i = 0; i < a.length; i++) {
			var b = a[i].split('=');
			b[0] = b[0].replace(/\s+/g, '');
			if (b[0] == 'csrftoken') {
				token = b[1];
			}
		};

		//включение-отключение импорта транзакций
		function change_import(event){
			var inputEl = event.currentTarget;
			var id = inputEl.getAttribute('id-import-data');
			if (!inputEl.checked){
				var new_stat = false;
			}else{
				new_stat = true;
			};
			$.ajax({
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'status_import',
					import_id: id,
					stat: new_stat
				}
			}).then(function(result){
				if (new_stat){
					var toastElList = [].slice.call(document.querySelectorAll('.toast'))
					var toastList = toastElList.map(function(toastEl) {
						$('#toast_content').text(`Включен импорт для ${result.holder}`);
						// Creates an array of toasts (it only initializes them)
						return new bootstrap.Toast(toastEl) // No need for options; use the default options
					});
					toastList.forEach(toast => toast.show()); // This show them
				}else{
					var toastElList = [].slice.call(document.querySelectorAll('.toast'))
					var toastList = toastElList.map(function(toastEl) {
						$('#toast_content').text(`Выключен импорт для ${result.holder}`);
						// Creates an array of toasts (it only initializes them)
						return new bootstrap.Toast(toastEl) // No need for options; use the default options
					});
					toastList.forEach(toast => toast.show()); // This show them
				}
			}).catch(function(err){
				x = 0;
			})
		};

		// выбор банка для создания импорта
		$("#bank_type").on('change', function(){
			if($("#bank_type").val() == 'capitalist'){
				$('#key_el').remove();
				$('#account_el').remove();
				$('#inn_el').remove();
				var login = `
				<div class="col-12 col-sm-3 mb-3" id="login_el">
					<label class="label" for="login">Имя пользователя:</label>
					<input class="input_validet form-control" name="login" id="login" placeholder="mylogin" required/>

					<div class="invalid-feedback">
						Поле не может быть пустым
					</div>

				</div>`;
				var password = `
				<div class="col-12 col-sm-3 mb-3" id="pwd_el">
					<label class="label" for="pwd">Пароль для входа в систему Capitalist:</label>
					<input class="input_validet form-control" name="pwd" id="pwd" placeholder="mypassword" required/>

					<div class="invalid-feedback">
						Поле не может быть пустым
					</div>

				</div>`;
				$('#bank_el').after(login, password);
			}else if($("#bank_type").val() == 'tinkoff'){
				$('#login_el').remove();
				$('#pwd_el').remove();
				var key = `
				<div class="col-12 col-sm-3 mb-3" id="key_el">
					<label class="label" for="key">Ключ</label>
					<input class="input_validet form-control" name="key" id="key" placeholder="************************" required/>

					<div class="invalid-feedback">
						Корректный ключ должен быть не менее 87 симовлов
					</div>

				</div>`;
				var account = `
				<div class="col-12 col-sm-3 mb-3" id="account_el">
					<label class="label" for="account">Номер счета</label>
					<input class="input_validet form-control" name="account" id="account" placeholder="1111 1111 1111 1111 1111" required/>
					
					<div class="invalid-feedback">
						Номер счета должен состоять из 20 символов
					</div>

				</div>`;
				var inn = `
				<div class="col-12 col-sm-3 mb-3" id="inn_el">
					<label class="label" for="inn">ИНН</label>
					<input class="input_validet form-control" name="inn" id="inn" placeholder="0000000000" required/>
					
					<div class="invalid-feedback">
						Номер ИНН должен быть 10-12 символов
					</div>

				</div>`;
				$('#bank_el').after(key, account, inn);
			}else if($("#bank_type").val() == 'modulbank'){
				$('#key_el').remove();
				$('#account_el').remove();
				$('#inn_el').remove();
				var key = `
				<div class="col-12 col-sm-3 mb-3" id="key_el">
					<label class="label" for="key">Ключ</label>
					<input class="input_validet form-control" name="key" id="key" placeholder="************************" required/>

					<div class="invalid-feedback">
						Корректный ключ должен быть не менее 87 симовлов
					</div>

				</div>`;
				var account = `
				<div class="col-12 col-sm-3 mb-3" id="account_el">
					<label class="label" for="account">Номер счета</label>
					<input class="input_validet form-control" name="account" id="account" placeholder="1111 1111 1111 1111 1111" required/>
					
					<div class="invalid-feedback">
						Номер счета должен состоять из 20 символов
					</div>

				</div>`;
				$('#bank_el').after(key, account);
			}
		});

		$('#balance_holder').on('input', function(){
			$.ajax(
				{
					url: url,
					method: 'POST',
					data: {
						csrfmiddlewaretoken: token,
						type: 'check_holder',
						balance_holder: $('#balance_holder').val()
					}
				}).then(function(result) {
					if (result.message) {
						$('#balance_holder').removeClass('is-invalid');
						$('#balance_holder').addClass('is-valid');
					} else {
						$('#balance_holder').removeClass('is-valid');
						$('#balance_holder').addClass('is-invalid');
					}
				}).catch(function(err) {
					var x = 1;
				}
			)
		});

		$('#key').on('input', function(){
			if($('#key').val().length < 87){
				$('#key').addClass('is-invalid');
			}else{
				$('#key').removeClass('is-invalid');
			}
		});

		$('#account').on('input', function(){
			if($('#account').val()){
				if(!regEx.test($('#account').val())){
					if(($('#account').val().length > 19 && $('#account').val().length < 21)){
						$('#account').removeClass('is-invalid');
						$('#account').addClass('is-valid');
					}else{
						$('#account').removeClass('is-valid');
						$('#account').addClass('is-invalid');
					}
				}else{
					$('#account').removeClass('is-valid');
					$('#account').addClass('is-invalid');
				}
			}else{
				$('#account').removeClass('is-valid');
				$('#account').addClass('is-invalid');
			}
		});

		$('#inn').on('input', function(){
			if($('#inn').val()){
				if(!regEx.test($('#inn').val())){
					if(($('#inn').val().length > 9 && $('#inn').val().length < 13)){
						$('#inn').removeClass('is-invalid');
						$('#inn').addClass('is-valid');
					}else{
						$('#inn').removeClass('is-valid');
						$('#inn').addClass('is-invalid');
					}
				}else{
					$('#inn').removeClass('is-valid');
					$('#inn').addClass('is-invalid');
				}
			}else{
				$('#inn').removeClass('is-valid');
				$('#inn').addClass('is-invalid');
			}
		});

		$('#accordion').on('change input', function(){
			if(!$('#date_start').val()){
				$('#date_start').removeClass('is-valid');
				$('#date_start').addClass('is-invalid');
			}else{
				$('#date_start').removeClass('is-invalid');
				$('#date_start').addClass('is-valid');
			}
		});

		// сохранение импорта транзакций
		(function () {
			// Получите все формы, к которым мы хотим применить пользовательские стили проверки Bootstrap
			var forms = document.querySelectorAll('.needs-validation');
			// Зацикливайтесь на них и предотвращайте отправку
			Array.prototype.slice.call(forms).forEach(function (form) {
				form.addEventListener('submit', function (event) {
					$.each($('.input_validet'), function(index, obj){
						if(!obj.value){
							obj.classList.remove('is-valid');
							obj.classList.add('is-invalid');
							event.preventDefault();
							event.stopPropagation();
						}else{
							if(obj.classList.contains('is-invalid')){
								obj.classList.remove('is-valid');
								event.preventDefault();
								event.stopPropagation();
							}else{
								obj.classList.remove('is-invalid');
								obj.classList.add('is-valid');
							}
						}
					});
				}, false)
			})
		})()

	</script>
{% endblock content %}
