{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-body">
						<form method="POST"  action="" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									{{ form.balance_holder.label }}
									<input class="obligatory form-control" name="balance_holder" id="balance_holder" value="{{ holder_pk }}" disabled/>
									<input class="obligatory form-control" name="balance_holder" id="balance_holder" value="{{ holder_pk }}" hidden/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
								  {{ form.name.label }}
								  	<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control mb-2 is-invalid" name="transaction_name" id="transaction_name" placeholder="Имя транзакции"/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.transaction_date.label }}
									<input autocomplete="off" class="obligatory form-control is-invalid" name="transaction_date" placeholder="Нажмите сюда" id="datepicker"/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									{{ form.type_payment.label }}
									<input autocomplete="off" onfocus="this.value=''" list="list_pay" class="form-control is-invalid" name="type_payment" id="type_payment" placeholder="Тип платежа" "/>
									<datalist id="list_pay">
										{% for type in type_payments %}
										<option value="{{ type }}">{{ type }}</option>
										{% endfor %}
									</datalist>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="transaction_sum_post">Сумма транзакции</label>
									<input class="obligatory form-control is-invalid" autocomplete="off" name="transaction_sum_post" placeholder="Сумма транзакции" id="transaction_sum_post"/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="flexCheckDefault" class="mb-1"> 
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										Наличие комиссии
									</label>
									<input class="obligatory form-control" autocomplete="off" value="0" name="commission_post" placeholder="Сумма комиссии" id="commission_post" disabled/>
								</div>

								<div class="col-12 col-sm-3 mb-3">
								  {{ form.type_transaction.label }}
									<input autocomplete="off" onfocus="this.value=''" class="form-control mb-2 is-invalid" name="type_transaction" list="datalist_transaction_type" id="type_transaction" placeholder="Тип транзакции"/>
								  	<datalist id="datalist_transaction_type">
										<option value="Приход">Приход</option>
										<option value="Расход">Расход</option>
									</datalist>
								</div>

							</div>

							<div id="accordionStatsDaysFilter">
								<div id="collapseStatsDaysFilter-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStatsDaysFilter" style="">
									<div class="row">

										<div class="col-12 col-sm-3 mb-3">
										  {{ form.status.label }}
											<input autocomplete="off" onfocus="this.value=''" class="obligatory form-control mb-2" name="transaction_status" list="datalistStatus" id="transaction_status" value="Успешно"/>
											<datalist id="datalistStatus">
												<option value="В процессе">В процессе</option>
												<option value="Отклонен">Отклонен</option>
												<option value="Успешно">Успешно</option>
											</datalist>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											{{ form.check_img.label }}
											<input class="form-control mb-2 fileinput fileUpload form-control-file" name="check_img" type="file" id="id_check_img">
										</div>

										<div class="col-12 col-sm-3 mb-3">
											{{ form.description.label }}
											{{ form.description }}
										</div>

										<div class="col-12 col-sm-3 mb-3">
											{{ form.tags.label }}
											{{ form.tags }}
										</div>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3 mb-3">

									<button class="btn btn-primary" type="submit" disabled>
										Сохранить
									</button> <!-- /btn -->

									<button onclick="$(this).text($(this).text() == 'Скрыть' ? 'Раскрыть' : 'Скрыть');" type="button" class="btn btn-secondary text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapseStatsDaysFilter-1" aria-expanded="false" aria-controls="collapseStatsDaysFilter-1">
										Раскрыть
									</button>

								</div>
							</div>

						</form> <!-- /form-body -->
					</div> <!-- /card-body -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

<script type="text/javascript">
	$(function(){
		$("#datepicker").datepicker({dateFormat: 'dd.mm.yy'});
	});

	$('#flexCheckDefault').on('click', function(){
		if ($('#flexCheckDefault').is(':checked')){
			$('#commission_post').removeAttr('disabled')
		}else{
			$('#commission_post').attr('disabled', 'true')
			$('#commission_post').val('0')
		}
	})

</script>

<script type="text/javascript">

	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = ''

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=')
		b[0] = b[0].replace(/\s+/g, '')
		if (b[0] == 'csrftoken') {
		token = b[1]
		}
	}

	var regEx = /[\\><\|\/a-zA-Z\/\+~\=`\]!\[@\{#\}$%\^&:;*\?\(\)_\-а-яА-Я]/;

	$('#type_payment').on('input', function(){
		$('.error_type').remove();
		if (!$('#type_payment').val()){
			$('#type_payment').addClass('is-invalid');
		}
		$.ajax(
			{
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_type',
					type_payment: $('#type_payment').val()
				}
			}).then(function(result) {
				if (result.message) {
					$('#type_payment').removeClass('is-invalid');
					$('#type_payment').addClass('is-valid');
				} else {
					$('#type_payment').removeClass('is-valid');
					$('#type_payment').addClass('is-invalid');
					$('#type_payment').after('<div class="invalid-feedback error_type">Нет такого типа платежа</div>')
				}
			}).catch(function(err) {
				var x = 1;
			}
		)
	})

	$('form').on('change keyup input click focusout live', function(){
		$('.error').remove();
		var type_val = $('#type_transaction').val()

		if (type_val){
			if ((type_val == 'Приход') || (type_val == 'Расход')){
				$('#type_transaction').removeClass('is-invalid');
			}else{
				$('#type_transaction').addClass('is-invalid');
			}
		}else{
			$('#type_transaction').addClass('is-invalid');
		}

		var objects = $('.obligatory')

		for (let i=0; objects.length > i; i++){
			if (objects[i].value){
				objects[i].classList.remove('is-invalid')
			}else{
				objects[i].classList.add('is-invalid')
			}
		}

		if ($('#transaction_sum_post').val() && (!regEx.test($('#transaction_sum_post').val()))){
			$('#transaction_sum_post').removeClass('is-invalid');
		}else{
			$('#transaction_sum_post').addClass('is-invalid');
			$('#transaction_sum_post').after('<div class="invalid-feedback error">Введите корректные данные</div>')
		}

		if ((!regEx.test($('#commission_post').val()))){
			$('#commission_post').removeClass('is-invalid');
		}else{
			$('#commission_post').addClass('is-invalid');
			$('#commission_post').after('<div class="invalid-feedback error">Введите корректные данные</div>')
		}

		// if ($('#transaction_status').val() == 'Успешно'){
		// 	if (!$('#id_check_img').val()){
		// 		$('#id_check_img').addClass('is-invalid')
		// 	}else{
		// 		$('#id_check_img').removeClass('is-invalid')
		// 	}
		// }else{
		// 	$('#id_check_img').removeClass('is-invalid')
		// }

		if ($('#balance_holder').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#transaction_name').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#transaction_status').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#datepicker').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#type_payment').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#amount').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#type_transaction').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else if ($('#id_check_img').hasClass('is-invalid')){
			$('button').attr('disabled', 'true');
		}else{
			$('button').removeAttr('disabled');
		}
	})

	$(document).ready(function() {
		$('form').submit(function(e) {
			e.preventDefault();
			var valid = true;
			var regEx = /[\\><\|\/a-zA-Z\/\+~\=`\]!\[@\{#\}$%\^&:;*\?\(\)_\-а-яА-Я]/;

			var amount = $('#transaction_sum_post').val();
			var comsa = $('#commission_post').val()
			var dateEl = $('#datepicker').val();

			var validDate = regEx.test(dateEl);
			var validAmount = regEx.test(amount);
			var validComsa = regEx.test(comsa);

			$(".error").remove();
			
			if (validDate || (dateEl.length != 10)){
				$('#datepicker').addClass('is-invalid');
				$('#datepicker').after('<span class="error">Введите корректные данные</span>');
				valid = false;
			}

			if (validComsa) {
				$('#commission_post').addClass('is-invalid');
				$('#commission_post').after('<span class="error">Введите корректные данные</span>');
				valid = false;
			}
			
			if (validAmount) {
				$('#transaction_sum_post').addClass('is-invalid');
				$('#transaction_sum_post').after('<span class="error">Введите корректные данные</span>');
				valid = false;
			}
			if (valid) this.submit();
		});
	});

	$('#datepicker').on('change click focusot hover', function(){
		if ($('#datepicker').val()){
			$('#datepicker').removeClass('is-invalid')
		}else{
			$('#datepicker').addClass('is-invalid')
		}
	})

</script>

{% endblock content %}