{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
						{% if user.is_superuser or user.is_staff %}
						<a href="{% url 'transaction_create' %}">Создать транзакцию</a>
						{% endif %}
						{% if transactions %}
					<div class="card-body">

						<div class="row">

							<div class="col-12 col-sm-3 mb-3">
								<label for="filter_name">Фильтр по имени транзакии</label>
								<input class="form-control" autocomplete="off" name="filter_name" id="filter_name" placeholder="Введите имя транзакции"/>
							</div>

							<div class="col-12 col-sm-3 mb-3">
								<label for="filter_holder">Фильтр по балансодержателям</label>
								<input class="form-control" autocomplete="off" name="filter_holder" id="filter_holder" placeholder="Введите балансодержателя"/>
							</div>

							<div class="col-12 col-sm-3 mb-3">
								<label for="filter_payment">Фильтр по типу платежа</label>
								<input class="form-control" autocomplete="off" name="filter_payment" id="filter_payment" placeholder="Введите тип платежа"/>
							</div>

							<div class="col-12 col-sm-3 mb-3">
								<label for="filter_tags">Фильтр по тегам</label>
								<input class="form-control" autocomplete="off" name="filter_tags" id="filter_tags" placeholder="Введите теги"/>
							</div>

						</div>

						<div id="accordionStatsDaysFilter">
							<div id="collapseStatsDaysFilter-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStatsDaysFilter" style="">
								<div class="row">

									<div class="col-12 col-sm-3 mb-3">

										<label for="input-date-group">
											Период
										</label> <!-- /form-label -->

										<div class="input-group" id="input-date-group">
											<span class="input-group-text">С</span>
											<input class="form-control" type="text" name="start" value="" id="datepicker"/>
											<span class="input-group-text">По</span>
											<input class="form-control" type="text" name="end" value="" id="datepicker1"/>
										</div> <!-- /input-group -->

									</div> <!-- /col -->

									<div class="col-12 col-sm-3 mb-3">
										<label for="filter_autor">Фильтр по автору создателя</label>
										<input class="form-control" autocomplete="off" name="filter_autor" id="filter_autor" placeholder="Введите автора транзакции"/>
									</div> <!-- /col -->

									<div class="col-12 col-sm-3 mb-3">
										<label for="filter_type">Фильтр по типу транзакии</label>
										<select class="form-select" autocomplete="off" name="filter_type" id="filter_type">
											<option value="">Выберите тип транзакции</option>
											<option value="Приход">Приход</option>
											<option value="Расход">Расход</option>
										</select>
									</div> <!-- /col -->

									<div class="col-12 col-sm-3 mb-3">
										<label for="filter_status">Фильтр по статусу транзакии</label>
										<select class="form-select" autocomplete="off" name="filter_status" id="filter_status">
											<option value="">Выберите статус транзакции</option>
											<option value="Успешно">Успешно</option>
											<option value="В процессе">В процессе</option>
											<option value="Отклонен">Отклонен</option>
										</select>
									</div> <!-- /col -->

									<div class="row">
										<div class="col-12 col-sm-3 mb-3">
											<label for="filter_amount_higher">Транзакии дороже</label>
											<input class="form-control" autocomplete="off" name="filter_amount_higher" id="filter_amount_higher" placeholder="Введите цену транзакции"/>
										</div> <!-- /col -->

										<div class="col-12 col-sm-3 mb-3">
											<label for="filter_amount_below">Транзакии дешевле</label>
											<input class="form-control" autocomplete="off" name="filter_amount_below" id="filter_amount_below" placeholder="Введите цену транзакции"/>
										</div> <!-- /col -->
									</div>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<button onclick="$(this).text($(this).text() == 'Скрыть' ? 'Раскрыть' : 'Скрыть');" type="button" class="btn btn-secondary text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapseStatsDaysFilter-1" aria-expanded="false" aria-controls="collapseStatsDaysFilter-1">
									Раскрыть
								</button>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead>
										<tr class="text-center">
											<th>Название</th>
											<th>Создан</th>
											<th>Изменён</th>
											<th>Тип транзакции</th>
											<th>Дата Транзакции</th>
											<th>Балансодержатель</th>
											<th>Сумма</th>
											<th>Тип платежа</th>
											<th>Автор</th>
											<th>Статус</th>
											<th>Файл с чеком</th>
										</tr>
									</thead>
									{% for object in transactions %}
									<tbody>
										<tr class="align-middle text-center">
											<td>{{ object.name }}
												{% if user.is_superuser %}
													<a href="{% url 'transaction_edit' object.id %}" class="btn btn-light btn-sm" data-bs-toggle="tooltip" data-bs-title="Редактировать">
														<i class="fa-regular fa-pen-to-square"></i>
													</a>
												{% endif %}</td>
											<td>{{ object.create_date|datetime_format }}</td>
											<td>{{ object.update_date|datetime_format|safe }}</td>
											<td>
												{% if object.type_transaction == 'COMING' %}
													<span class="badge text-bg-outline-success d-flex align-items-center justify-content-center rounded-pill">
														Приход
													</span>
												{% else %}
													<span class="badge text-bg-outline-danger d-flex align-items-center justify-content-center rounded-pill">
														Расход
													</span>
												{% endif %}
											</td>
											<td>{{ object.transaction_date|date_format }}</td>
											<td>{{ object.balance_holder }}</td>
											<td>{{ object.amount|numb_format }}</td>
											<td>{{ object.type_payment }}</td>
											<td>{{ object.author }}</td>
											<td>
												{% if object.status == 'INPROCESS' %}
													<span class="badge text-bg-outline-info d-flex align-items-center justify-content-center rounded-pill">
														В процессе
													</span>
												{% elif object.status == 'SUCCESSFULLY' %}
													<span class="badge bg-warning d-flex align-items-center justify-content-center rounded-pill ms-auto my-auto">
														Успешно
													</span>
												{% else %}
													<span class="badge text-bg-outline-danger d-flex align-items-center justify-content-center rounded-pill">
														Отклонено
													</span>
												{% endif %}
											</td>
											<td>
												{% if object.check_img %}
												<a href="/media/{{ object.check_img }}" data-bs-toggle="tooltip" data-bs-title="Посмотреть">
													<i class="fa-regular fa-clipboard"></i>
												</a>
												{% else %}
												&ndash;
												{% endif %}
											</td>
										</tr>
									</tbody>
									{% endfor %}
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
						{% else %}
						<div class="card-body">
							Нет данных
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

{% endblock content %}
