{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-body">
						<strong>Изменение транзакции: {{ transaction.name }} <br> Балансодержатель: {{ transaction.balance_holder }}</strong>
						<br>
						<form method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="row">

								<div class="col-12 col-sm-3 mb-3">
									<label for="transaction_status">Статус</label>
									<select class="obligatory form-select mb-2" name="transaction_status" id="transaction_status">
										{% if transaction.status == 'INPROCESS' %}
											<option selected value="INPROCESS">В процессе</option>
											<option value="REJECT">Отклонен</option>
											<option value="SUCCESSFULLY">Успешно</option>
										{% elif transaction.status == 'REJECT' %}
											<option selected value="REJECT">Отклонен</option>
											<option value="INPROCESS">В процессе</option>
											<option value="SUCCESSFULLY">Успешно</option>
										{% else %}
											<option selected value="SUCCESSFULLY">Успешно</option>
											<option value="INPROCESS">В процессе</option>
											<option value="REJECT">Отклонен</option>
										{% endif %}
									</select>
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="datepicker">Дата транзакции</label>
									{% if transaction.transaction_date %}
										<input autocomplete="off" class="obligatory form-control" name="transaction_date" value="{{ transaction.transaction_date|date_format }}" id="datepicker"/>
									{% else %}
										{{ form.transaction_date }}
									{% endif %}
								</div>

								<div class="col-12 col-sm-3 mb-3">
									<label for="transaction_sum">Сумма {{ transaction.current_id.current_name }}</label>
									<input autocomplete="off" class="form-control" name="transaction_sum" value="{{ transaction.transaction_sum }}" id="transaction_sum"/>
								</div>

								{% if transaction.type_transaction == 'EXPENDITURE' %}
									<div class="col-12 col-sm-3 mb-3">
										<label for="commission">Комиссия {{ transaction.current_id.current_name }}</label>
										<input autocomplete="off" class="form-control" name="commission" value="{{ transaction.commission }}" id="commission"/>
									</div>
								{% endif %}

								<div class="col-12 col-sm-3 mb-3 type_payment_input">
									<label for="type_payment">Категория</label>
									<input autocomplete="off" onfocus="this.value=''" list="list_pay" class="form-control" name="type_payment" id="type_payment" value="{{ transaction.type_payment }}"/>
									<datalist id="list_pay">
										{% for type in type_payments %}
										<option value="{{ type }}">{{ type }}</option>
										{% endfor %}
									</datalist>
								</div>

								{% if transaction.sub_type_pay %}

									<div class="col-12 col-sm-3 mb-3 sub_type_payment_select">
										<label for="sub_type" class="mb-1">Подтип платежа</label>
										<select class="form-select" name="sub_type" id="sub_type">
											<option value="{{ transaction.sub_type_pay }}" selscted>{{ transaction.sub_type_pay }}</option>

											{% for sub in sub_type_of_type %}
												{% if sub != transaction.sub_type_pay %}
													<option value="{{ sub }}" selscted>{{ sub }}</option>
												{% endif %}
											{% endfor %}

										</select>
									</div>

								{% endif %}

							</div>

							<div id="accordionStatsDaysFilter">
								<div id="collapseStatsDaysFilter-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStatsDaysFilter" style="">
									<div class="row">	

										<div class="col-12 col-sm-3 mb-3">
											<label for="id_check_img">{{ form.check_img.label }}</label>
											{% if transaction.check_img %}
												<input class="form-control mb-2 fileinput fileUpload form-control-file" name="check_img" type="file" title="{{ transaction.check_img }}" value="{{ transaction.check_img }}" id="id_check_img">
											{% else %}
												{{ form.check_img }}
											{% endif %}
										</div>

										<div class="col-12 col-sm-3 mb-3">
											{{ form.description.label }}
											<div>
												{% if transaction.description %}
												<textarea class="form-control" name="description" value="{{ transaction.description }}" id="description" placeholder="Описание">{{ transaction.description }}</textarea>
												{% else %}
													{{ form.description }}
												{% endif %}
											</div>
										</div>

										<div class="col-12 col-sm-3 mb-3">
											{{ form.tags.label }}
											<div>
												{% if transaction.tags %}
													<textarea class="form-control" name="tags" value="{{ transaction.tags }}" id="tags" placeholder="Теги транзакции">{{ transaction.tags }}</textarea>
												{% else %}
													{{ form.tags }}
												{% endif %}
											</div>
										</div>
									</div>    <!-- /row -->
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3 mb-3">

									<button class="btn btn-primary save_button" type="submit">
										Сохранить
									</button> <!-- /btn -->

									<button onclick="$(this).text($(this).text() == 'Скрыть' ? 'Раскрыть' : 'Скрыть');" type="button" class="btn btn-secondary text-white collapsed" data-bs-toggle="collapse" data-bs-target="#collapseStatsDaysFilter-1" aria-expanded="false" aria-controls="collapseStatsDaysFilter-1">
										Раскрыть
									</button>

								</div>
							</div>

						</form>
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

<script type="text/javascript">
	$(function(){
		$("#datepicker").datepicker({dateFormat: 'dd.mm.yy'});
	});
</script>

<script type="text/javascript">

	var regEx = /[\\><\|\/a-zA-Z\/\+~\=`\]!\[@\{#\}$%\^&:;*\?\(\)_\-а-яА-Я]/;

	var url = document.location.href;
	var a = document.cookie.split(';');
	var token = ''

	for (i = 0; i < a.length; i++) {
		var b = a[i].split('=')
		b[0] = b[0].replace(/\s+/g, '')
		if (b[0] == 'csrftoken') {
		token = b[1]
		}
	}

	$('#type_payment').on('input', function(){
		$('.error_type').remove();
		$.ajax(
			{
				url: url,
				method: 'POST',
				data: {
					csrfmiddlewaretoken: token,
					type: 'check_type',
					type_payment: $('#type_payment').val()
				}
			}).then(function(result) {
				$('.sub_type_payment_select').remove();
				if (result.message) {
					var options = result.message;
					$('#type_payment').removeClass('is-invalid');
					$('#type_payment').addClass('is-valid');

					if (options.length){
						var value = ''

						for(let q = 0; options.length > q; q++){
							if(q==0){
								value += ` <option value="${options[q]}" selected>${options[q]}</option> `
							}else{
								value += ` <option value="${options[q]}">${options[q]}</option> `
							}
						}
						
						var sub_type_input = `
							<div class="col-12 col-sm-3 mb-3 sub_type_payment_select">
								<label for="sub_type" class="mb-1">Подтип платежа</label>
								<select class="form-select" name="sub_type" id="sub_type">
									${value}
								</select>
							</div>`

						$('.type_payment_input').after(sub_type_input);
					}
				} else {
					$('#type_payment').removeClass('is-valid');
					$('#type_payment').addClass('is-invalid');
					$('#type_payment').after('<div class="invalid-feedback error_type">Нет такого типа платежа</div>')
				}
			}).catch(function(err) {
				var x = 1;
			}
		)
	})

	$('form').on('change keyup input click focusot live', function(){
		$('.error').remove();
		if ($('#amount').val() && (!regEx.test($('#amount').val()))){
			$('#amount').removeClass('is-invalid');
		}else{
			$('#amount').addClass('is-invalid');
			$('#amount').after('<div class="invalid-feedback error">Введите корректные данные</div>')
		}

		if (!$('#type_payment').val()){
			$('#type_payment').addClass('is-invalid');
		}
		var objects = $('.obligatory')

		for (let i=0; objects.length > i; i++){
			if (objects[i].value){
				objects[i].classList.remove('is-invalid')
			}else{
				objects[i].classList.add('is-invalid')
			}
		}

		// if ($('#transaction_status').val() == 'Успешно'){
		// 	if ($('#id_check_img').val() || $('#id_check_img').attr('title')){
		// 		$('#id_check_img').removeClass('is-invalid')
		// 	}else{
		// 		$('#id_check_img').addClass('is-invalid')
		// 	}
		// }else{
		// 	$('#id_check_img').removeClass('is-invalid')
		// }

		if ($('#balance_holder').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#transaction_name').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#transaction_status').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#datepicker').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#type_payment').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#amount').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#type_transaction').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else if ($('#id_check_img').hasClass('is-invalid')){
			$('.save_button').attr('disabled', 'true');
		}else{
			$('.save_button').removeAttr('disabled');
		}
	})

	$('#datepicker').on('change click focusot hover', function(){
		if ($('#datepicker').val()){
			$('#datepicker').removeClass('is-invalid')
		}else{
			$('#datepicker').addClass('is-invalid')
		}
	})

</script>

{% endblock content %}
