{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						{% if transactions_log %}
						<div class="card-body">
							<div class="table-responsive table-maxh-stats">
								<table class="table table-bordered text-nowrap mb-0">
									<thead>
										<tr class="text-center">
											<th>id: имя транзакции</th>
											<th>Балансодержатель</th>
											<th>Дата изменения</th>
											<th>Автор изменения</th>
											<th>Статус транз до/после</th>
											<th>Дата транз до/после</th>
											<th>Сумма транз до/после</th>
											<th>Описание транз до/после</th>
											<th>Тип платежа до/после</th>
											<th>Подтип до/после</th>
											<th>Чеки транз до/после</th>
										</tr>
									</thead>
									<tbody class="align-middle text-center">
									{% for object in transactions_log %}
										<tr>
											<td>{{ object.transaction_id }}: {{ object.transaction_name }}</td>
											<td>{{ object.balance_holder|dash|safe }}</td>
											<td>{{ object.changed|dash }}</td>
											<td>{{ object.author_references|dash }}</td>
											<td>{{ object.status|change_status|safe }}</td>
											<td>{{ object.transaction_date|dash|safe }}</td>
											<td>{{ object.amount|change_sum_trans|safe }}</td>
											<td>{{ object.description|dash|safe }}</td>
											<td>{{ object.type_payment|pay_type_decode|safe }}</td>
											<td>{{ object.sub_type_pay|sub_pay_type_decode|safe }}</td>
											<td>{% if object.check_img %}
													{% for img in object.check_img|split_img %}
														{% if img != '/' %}
															<button data-bs-whatever="/media/img/{{ img|replace_space }}"
																	type="button"
																	class="btn CheckPhotoModal"
																	data-bs-transaction-name="{{ object.name }}"
																	data-bs-toggle="modal"
																	data-bs-target="#exampleModal">
																<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
																  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
																  <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
																</svg>
															</button>
<!--														<a href="/media/img/{{ img|replace_space }}" data-bs-toggle="tooltip" data-bs-title="Посмотреть">-->
<!--															<i class="fa-regular fa-clipboard"></i>-->
<!--														</a>-->
														{% else %}
														-
														{% endif %}
													{% endfor %}
												{% else %}
												&ndash;
												{% endif %}
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->

							<div class="pagin_list">
								{% if count > 1 %}
									<nav id="pagination" class="col align-self-center mt-4" aria-label="Page navigation example">
										<ul class="pagination mb-0">
										{% if page > 1 %}
											{% if url_params %}
												<li class="page-item"><a class="page-link" href="{{url_params}}&page={{ 1 }}">&laquo;</a></li>
											{% else %}
												<li class="page-item"><a class="page-link" href="{{url_params}}?page={{ 1 }}">&laquo;</a></li>
											{% endif %}
										{% else %}
											<li class="page-item disabled"><span class="page-link" href="" tabindex="-1" aria-disabled="true">&laquo;</span></li>
										{% endif %}
										{% for p in count|create_range %}
											{% if p > page|add:-4 and p < page|add:4 %}
												{% if p|increment_page == count %}
													{% if page == p|increment_page %}
														{% if url_params %}
															<li class="page-item active" aria-current="page"><a class="page-link" href="{{url_params}}&page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ original_count }}<span class="sr-only">{{ page }}</span></a></li>
														{% else %}
															<li class="page-item active" aria-current="page"><a class="page-link" href="{{url_params}}?page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ original_count }}<span class="sr-only">{{ page }}</span></a></li>
														{% endif %}
													{% else %}
														{% if url_params %}
															<li class="page-item"><a class="page-link" href="{{url_params}}&page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ original_count}}</a></li>
														{% else %}
															<li class="page-item"><a class="page-link" href="{{url_params}}?page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ original_count }}</a></li>
														{% endif %}
													{% endif %}
												{% elif page == p|increment_page %}
													{% if url_params %}
														<li class="page-item active" aria-current="page"><a class="page-link" href="{{url_params}}&page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ limit|multiply:p|add:limit }}<span class="sr-only">{{ page }}</span></a></li>
													{% else %}
														<li class="page-item active" aria-current="page"><a class="page-link" href="{{url_params}}?page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ limit|multiply:p|add:limit }}<span class="sr-only">{{ page }}</span></a></li>
													{% endif %}
												{% else %}
													{% if url_params %}
														<li class="page-item"><a class="page-link" href="{{url_params}}&page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ limit|multiply:p|add:limit }}</a></li>
													{% else %}
														<li class="page-item"><a class="page-link" href="{{url_params}}?page={{ p|increment_page }}">{{ limit|multiply:p|add:1 }}-{{ limit|multiply:p|add:limit }}</a></li>
													{% endif %}
												{% endif %}
											{% endif %}
										{% endfor %}
										{% if page < count %}
											{% if url_params %}
												<li class="page-item"><a class="page-link" href="{{url_params}}&page={{ count }}">&raquo;</a></li>
											{% else %}
												<li class="page-item"><a class="page-link" href="{{url_params}}?page={{ count }}">&raquo;</a></li>
											{% endif %}
										{% else %}
											<li class="page-item disabled"><span class="page-link" href="" tabindex="-1" aria-disabled="true">&raquo;</span></li>
										{% endif %}
										</ul>
									</nav>
								{% endif %}
							</div>

							<div class="mt-4 mb-4">

								{% if limit == 25 %}

									<button type="button" id="limit25" class="checkLimitButton btn btn-secondary btn-sm me-2" disabled>
										По 25
									</button>

									<button type="button" id="limit50" class="checkLimitButton btn btn-secondary btn-sm me-2">
										По 50
									</button>

									<button type="button" id="limit100" class="checkLimitButton btn btn-secondary btn-sm me-2">
										По 100
									</button>

								{% elif limit == 50 %}

									<button type="button" id="limit25" class="checkLimitButton btn btn-secondary btn-sm me-2">
										По 25
									</button>

									<button type="button" id="limit50" class="checkLimitButton btn btn-secondary btn-sm me-2" disabled>
										По 50
									</button>

									<button type="button" id="limit100" class="checkLimitButton btn btn-secondary btn-sm me-2">
										По 100
									</button>

								{% else %}

									<button type="button" id="limit25" class="checkLimitButton btn btn-secondary btn-sm me-2">
										По 25
									</button>

									<button type="button" id="limit50" class="checkLimitButton btn btn-secondary btn-sm me-2">
										По 50
									</button>

									<button type="button" id="limit100" class="checkLimitButton btn btn-secondary btn-sm me-2" disabled>
										По 100
									</button>

								{% endif %}

							</div> <!-- /btn-select-rows -->

						</div>

						{% else %}
						<div class="alert alert-warning" role="alert">
							<h5 class="alert-heading text-center">
								<i class="fa-regular fa-octagon-exclamation me-2"></i>
								Нет доступных данных
							</h5>
						</div>
						{% endif %}
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"> </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Закрыть</button>
			</div>
			</div>
		</div>
	</div>

	<script>

		var url = document.location.href;
		var a = document.cookie.split(';');
		var token = ''

		for (i = 0; i < a.length; i++) {
			var b = a[i].split('=')
			b[0] = b[0].replace(/\s+/g, '')
			if (b[0] == 'csrftoken') {
			token = b[1]
			}
		}

		// Модалка для просмотра чеков
		var exampleModal = document.getElementById('exampleModal')
		var modalTitle = exampleModal.querySelector('.modal-header')
		var modalBody = exampleModal.querySelector('.modal-body')

		var exampleModalsBtn = document.getElementsByClassName('CheckPhotoModal')

		for(let i=0; i<exampleModalsBtn.length; i++){
			exampleModalsBtn[i].addEventListener('click', function(event){
				if(event.currentTarget == exampleModalsBtn[i]){
					var linkData = exampleModalsBtn[i].getAttribute('data-bs-whatever')
					var transactionName = exampleModalsBtn[i].getAttribute('data-bs-transaction-name')
					// modalTitle.textContent = `Чек транзакции - ${transactionName}`
					modalBody.innerHTML = `<div class="row"><img src=${linkData}></div>`
				}
			})
		}

		var btnLimEl = document.querySelectorAll('.checkLimitButton');
		for (let i = 0; i < btnLimEl.length; i++){
			btnLimEl[i].addEventListener('click', function(event) {
				if (event.target == btnLimEl[i]){
					console.log(btnLimEl[i].getAttribute("id"))
					$.ajax(
					{
						url: url,
						method: 'POST',
						data: {
						csrfmiddlewaretoken: token,
						type: btnLimEl[i].getAttribute("id")
						}
					}
					).then(function(result) {
						var x = document.location.search.split('&page')[0];
						x = x.split('?page')[0];
						document.location.href = document.location.origin + document.location.pathname + x;
					}).catch(function(err) {
						var x = 1;
					})
				}
			})
		};

	</script>

{% endblock content %}

