{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						Транзакции
						<br>
						{% if user.is_superuser or user.is_staff %}
						<a href="{% url 'transaction_create' %}">Создать транзакцию</a>
						{% endif %}
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered text-nowrap mb-0">
									<thead>
										<tr>
											<th>ID</th>
											<th>Название</th>
											<th>Создан</th>
											<th>Изменён</th>
											<th>Тип транзакции</th>
											<th>Дата Транзакции</th>
											<th>Балансодержатель</th>
											<th>Сумма</th>
											<th>Тип платежа</th>
											<th>Автор</th>
											<th>Статус</th>
											<th>Файл с чеком</th>
										</tr>
									</thead>
									{% for object in transactions %}
									<tbody>
										<tr class="align-middle">
											<td>
												{{ object.pk }}
												{% if user.is_superuser and object.status == 'INPROCESS' %}
												<a href="{% url 'transaction_edit' object.pk %}" class="btn btn-light btn-sm" data-bs-toggle="tooltip" data-bs-title="Редактировать">
													<i class="fa-regular fa-pen-to-square"></i>
												</a>
												{% endif %}
											</td>
											<td>{{ object.name }}</td>
											<td>{{ object.create_date|datetime_format }}</td>
											<td>{{ object.update_date|datetime_format|safe }}</td>
											<td>{{ object.type_transaction|trans_type }}</td>
											<td>{{ object.transaction_date|date_format }}</td>
											<td>{{ object.balance_holder }}</td>
											<td>{{ object.amount|numb_format }}</td>
											<td>{{ object.type_payment }}</td>
											<td>{{ object.author }}</td>
											<td>{{ object.status|trans_status }}</td>
											<td class="text-center">
												{% if object.check_img %}
												<a href="/media/{{ object.check_img }}" data-bs-toggle="tooltip" data-bs-title="Посмотреть">
													<i class="fa-regular fa-clipboard"></i>
												</a>
												{% else %}
												&ndash;
												{% endif %}
											</td>
										</tr>
									</tbody>
									{% endfor %}
								</table> <!-- /table -->
							</div> <!-- /table-responsive -->
						</div>
					</div> <!-- /table-responsive -->
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</div> <!-- /col -->
	</div> <!--/row-->

{% endblock content %}
